# VBA Files

### Pulling Excel Files from the Website

In [1]:
# There are weekly files from 2014 to present on https://www.benefits.va.gov/reports/detailed_claims_data.asp

# There are historical files at https://www.benefits.va.gov/REPORTS/mmwr/historical/{year}/index.asp from 2004 to 2013

# Presumably the first step will be just pulling all of them

### Libraries/Setup

In [2]:
import pandas as pd
import numpy as np
import os
import requests
from bs4 import BeautifulSoup
os.chdir(r'C:\Users\admin\Documents\Python Scripts\veteranLawData')

### Get File URLs

In [3]:
def pullTheFiles(year):
    url= f'https://www.benefits.va.gov/REPORTS/mmwr/historical/{str(year)}/index.asp'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    filesToGet=[]
    for link in soup.findAll('a'):
        try:
            if "xls" in (link.get('href')):
                filesToGet.append(link.get('href'))
        except:
            pass
    return(filesToGet)

yearRange=list(range(2004, 2014))
#files=pullTheFiles(2004)
filesList=list(map(pullTheFiles, yearRange))
flatFileList = [item for sublist in filesList for item in sublist]

### Check We Have The Right Number: 2008 Is Legitimately Missing Three, I Checked

In [4]:
for fileList in filesList:
    print(len(fileList))

52
52
52
52
49
52
52
52
52
53

### Pull The Files

In [4]:
def pullFile(url):
    cleanLink='https://www.benefits.va.gov'+url
    r = requests.get(cleanLink, allow_redirects=True)
    name=cleanLink.split("/")[-1]
    open(name, 'wb').write(r.content)
    return(name)

#listOfFileNames=list(map(pullFile, files))
filesNameList=list(map(pullFile, flatFileList))

### Read Them Into A Dictionary

In [5]:
def readBasicFile(fileName):
    try:
        df=pd.read_excel(fileName)
        return(df)
    except:
        print(f"failed on {fileName}")

listOfDFs=list(map(readBasicFile, filesNameList))
dictionaryOfFiles = dict(zip(filesNameList, listOfDFs))

failed on 102113.xls
failed on 102813.xls
failed on 110413.xls
failed on 111213.xls
failed on 111813.xls
failed on 112513.xls
failed on 120213.xls
failed on 120913.xls
failed on 121613.xls
failed on 122313.xls
failed on 123013.xls

### Append Into Master DF

In [6]:
masterDF=pd.DataFrame()
for key in dictionaryOfFiles.keys():
    try:
        df=dictionaryOfFiles[key]
        df['fileName']=key
        listOfPhrasesToFind=["As of", "For the Week"]
        foundPhrase=[i for i in df.columns if any(substring in i for substring in listOfPhrasesToFind)]
        dropPhrase=[i for i in df.columns if "Percent" in i]
        #print(len(foundPhrase))
        df["forTheWeek"]=df[foundPhrase[0]]
        df=df.drop([foundPhrase[0]], axis=1)
        df=df.drop(dropPhrase, axis=1)
        masterDF=masterDF.append(df, sort=True)
    except:
        print(f'failed on {key}')

failed on NewMMWL_100509.xls
failed on 101309.xls
failed on 101909.xls
failed on 102609.xls
failed on 110209.xls
failed on 110909.xls
failed on 111609.xls
failed on 112309.xls
failed on 113009.xls
failed on 120709.xls
failed on 121409.xls
failed on 122109.xls
failed on 122809.xls
failed on 010410.xlsx
failed on 040510.xlsx
failed on 070610.xlsx
failed on 100410.xlsx
failed on 011110.xlsx
failed on 041210.xlsx
failed on 071210.xlsx
failed on 101210.xlsx
failed on 011910.xlsx
failed on 041910.xlsx
failed on 071910.xlsx
failed on 101810.xlsx
failed on 012510.xlsx
failed on 042610.xlsx
failed on 072610.xlsx
failed on 102510.xlsx
failed on 020110.xlsx
failed on 050310.xlsx
failed on 080210.xlsx
failed on 110110.xlsx
failed on 020810.xlsx
failed on 051010.xlsx
failed on 080910.xlsx
failed on 110810.xlsx
failed on 021610.xlsx
failed on 051710.xlsx
failed on 081610.xlsx
failed on 111510.xlsx
failed on 022210.xlsx
failed on 052410.xlsx
failed on 082310.xlsx
failed on 112210.xlsx
failed on 030110.xlsx
failed on 053110.xlsx
failed on 083010.xlsx
failed on 112910.xlsx
failed on 030810.xlsx
failed on 060710.xlsx
failed on 090710.xlsx
failed on 120610.xlsx
failed on 031510.xlsx
failed on 061410.xlsx
failed on 091310.xlsx
failed on 121310.xlsx
failed on 032210.xlsx
failed on 062110.xlsx
failed on 092010.xlsx
failed on 122010.xlsx
failed on 032910.xlsx
failed on 062810.xlsx
failed on 092710.xlsx
failed on 122710.xlsx
failed on 010311.xls
failed on MMWLD04-04-11.xlsx
failed on MMWLD07-05-11.xlsx
failed on MMWLD10-03-11.xlsx
failed on 011011.xlsx
failed on 041111.xlsx
failed on 071111.xlsx
failed on 101111.xlsx
failed on 011811.xlsx
failed on 041811.xlsx
failed on 071811.xlsx
failed on 101711.xlsx
failed on 012411.xlsx
failed on 042511.xlsx
failed on 072511.xlsx
failed on 102411.xlsx
failed on 013111.xlsx
failed on 050211.xlsx
failed on 080111.xlsx
failed on 103111.xlsx
failed on 020711.xlsx
failed on 050911.xlsx
failed on 080811.xlsx
failed on 110711.xlsx
failed on 021411.xlsx
failed on 051611.xlsx
failed on 081511.xlsx
failed on 111411.xlsx
failed on 022211.xlsx
failed on 052311.xlsx
failed on 082211.xlsx
failed on 112111.xlsx
failed on 022811.xlsx
failed on 053111.xlsx
failed on 082911.xlsx
failed on 112811.xlsx
failed on 030711.xlsx
failed on 060611.xlsx
failed on 090611.xlsx
failed on 120511.xlsx
failed on 031411.xlsx
failed on 061311.xlsx
failed on 091211.xlsx
failed on 121211.xlsx
failed on 032111.xlsx
failed on 062011.xlsx
failed on 091911.xlsx
failed on 121911.xlsx
failed on 032811.xlsx
failed on 062711.xlsx
failed on 092611.xlsx
failed on 122711.xlsx
failed on 010312.xls
failed on 040212.xls
failed on 070212.xls
failed on 100112.xls
failed on 010912.xls
failed on 040912.xls
failed on 070912.xls
failed on 100912.xls
failed on 011712.xls
failed on 041612.xls
failed on 071612.xls
failed on 101512.xls
failed on 012312.xls
failed on 042312.xls
failed on 072312.xls
failed on 102212.xls
failed on 013012.xls
failed on 043012.xls
failed on 073012.xls
failed on 102912.xls
failed on 020612.xls
failed on 050712.xls
failed on 080612.xls
failed on 110512.xls
failed on 021312.xls
failed on 051412.xls
failed on 081312.xls
failed on 111312.xls
failed on 022112.xls
failed on 052112.xls
failed on 082012.xls
failed on 111912.xls
failed on 022712.xls
failed on 052912.xls
failed on 082712.xls
failed on 112612.xls
failed on 030512.xls
failed on 060412.xls
failed on 090412.xls
failed on 120312.xls
failed on 031212.xls
failed on 061112.xls
failed on 091012.xls
failed on 121012.xls
failed on 031912.xls
failed on 061812.xls
failed on 091712.xls
failed on 121712.xls
failed on 032612.xls
failed on 062512.xls
failed on 092412.xls
failed on 122612.xls
failed on 123112.xls
failed on 040113.xls
failed on 070113.xls
failed on 092813.xls
failed on 010713.xls
failed on 040813.xls
failed on 070613.xls
failed on 100713.xls
failed on 011413.xls
failed on 041513.xls
failed on 071313.xls
failed on 101513.xls
failed on 012213.xls
failed on 042213.xls
failed on 072013.xls
failed on 102113.xls
failed on 012813.xls
failed on 042913.xls
failed on 072713.xls
failed on 102813.xls
failed on 020413.xls
failed on 050613.xls
failed on 080313.xls
failed on 110413.xls
failed on 021113.xls
failed on 051313.xls
failed on 081013.xls
failed on 111213.xls
failed on 021913.xls
failed on 052013.xls
failed on 081713.xls
failed on 111813.xls
failed on 022513.xls
failed on 052813.xls
failed on 082413.xls
failed on 112513.xls
failed on 030213.xls
failed on 060313.xls
failed on 083113.xls
failed on 120213.xls
failed on 030913.xls
failed on 061013.xls
failed on 090713.xls
failed on 120913.xls
failed on 031813.xls
failed on 061713.xls
failed on 091413.xls
failed on 121613.xls
failed on 032513.xls
failed on 062413.xls
failed on 092113.xls
failed on 122313.xls
failed on 123013.xls

In [7]:
masterDF.columns

Index([' ', ' Rating Cases Pending', ' Rating Claims Pending',
       '* Scorecard  Non-Rating Cases Pending',
       '* Scorecard  Non-Rating Claims Pending', 'C&P Claims over 180 Days ',
       'C&P Claims over 180 Days in WIPP', 'C&P Work Items over 180 Days ',
       'COE', 'COEs Issued', 'Date of Oldest Pending COE',
       'Education Cases Pending ', 'Education Work Items Pending ',
       'Guarantees Pending', 'IVMs Pending (EP 154 and EP 314)',
       'Non-Rating Cases Pending over 180 Days',
       'Non-Rating Claims Pending over 180 Days', 'Pre-Discharge Claims',
       'Rating Cases Pending', 'Rating Cases Pending over 180 Days',
       'Rating Claims Pending over 180 Days', 'SOC's',
       'Scorecard Non-Rating Cases Pending', 'Scorecard Rating Cases Pending',
       'Total Appeals Requiring Adjudicative Action ',
       'Total Appeals Requiring Adjudicative action ', 'Total C&P Pending ',
       'Total C&P Pending in Wipp', 'Total C&P Work Items Pending ',
       'Unnamed: 18', 'VACOLS Appeals',
       'VACOLS Appeals includes AMC & Travel Board', 'fileName', 'forTheWeek'],
      dtype='object')

### Right now: it looks like 04-09 is working; after that we need to look at the format of the 09 worksheets to modify it; there's also some column cleaning we may need to do for the 04-09 group; this is a good stopping point

### Are we missing lines? spot checked first and last, looked good, getting weird value counts for the regional variable, but the overall counts don't have too much variation

In [23]:
seriesOfLength=pd.Series()

for file in masterDF['fileName'].unique():
    s= pd.Series([len(masterDF.loc[masterDF['fileName']==file])], index=[file])
    seriesOfLength=seriesOfLength.append(s)

In [24]:
seriesOfLength.value_counts()

71    84
72    83
70    78
68    24
78    15
73    11
dtype: int64

In [25]:
seriesOfLength.loc[seriesOfLength==68]

010504.xls    68
040504.xls    68
012004.xls    68
041204.xls    68
041904.xls    68
012604.xls    68
042604.xls    68
020204.xls    68
050304.xls    68
020904.xls    68
051004.xls    68
021704.xls    68
051704.xls    68
022304.xls    68
052404.xls    68
030104.xls    68
060104.xls    68
030804.xls    68
060704.xls    68
031504.xls    68
061404.xls    68
032204.xls    68
062104.xls    68
032904.xls    68
dtype: int64

### Looking at One With Count 68 : Looks Good

In [27]:
masterDF.loc[masterDF['fileName']=='021704.xls']

,,Rating Cases Pending,Rating Claims Pending,* Scorecard Non-Rating Cases Pending,* Scorecard Non-Rating Claims Pending,C&P Claims over 180 Days,C&P Claims over 180 Days in WIPP,C&P Work Items over 180 Days,COE,COEs Issued,...,Total Appeals Requiring Adjudicative Action,Total Appeals Requiring Adjudicative action,Total C&P Pending,Total C&P Pending in Wipp,Total C&P Work Items Pending,Unnamed: 18,VACOLS Appeals,VACOLS Appeals includes AMC & Travel Board,fileName,forTheWeek
0,NaT,NaN,NaN,NaN,NaN,NaN,102909.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,124637.000000,NaN,478130.000000,NaN,NaN,NaN,145668.000000,021704.xls,USA
1,NaT,NaN,NaN,NaN,NaN,NaN,104386.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,125006.000000,NaN,470643.000000,NaN,NaN,NaN,145132.000000,021704.xls,Last Week
2,NaT,NaN,NaN,NaN,NaN,NaN,-1477.000000,NaN,NaT,00:00:00,...,NaN,-369.000000,NaN,7487.000000,NaN,NaN,NaN,536.000000,021704.xls,Change from Last Week
3,NaT,NaN,NaN,NaN,NaN,NaN,-0.014149,NaN,NaT,NaN,...,NaN,-0.002952,NaN,0.015908,NaN,NaN,NaN,0.003693,021704.xls,Percent Change
4,NaT,NaN,NaN,NaN,NaN,NaN,118461.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,97678.000000,NaN,472859.000000,NaN,NaN,NaN,121596.000000,021704.xls,Last Year
5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,EASTERN AREA
6,NaT,NaN,NaN,NaN,NaN,NaN,1890.000000,NaN,NaT,NaN,...,NaN,1165.000000,NaN,6161.000000,NaN,NaN,NaN,1466.000000,021704.xls,Baltimore Regional Office
7,NaT,NaN,NaN,NaN,NaN,NaN,2757.000000,NaN,NaT,NaN,...,NaN,1568.000000,NaN,7641.000000,NaN,NaN,NaN,1806.000000,021704.xls,Boston Regional Office
8,NaT,NaN,NaN,NaN,NaN,NaN,2147.000000,NaN,NaT,NaN,...,NaN,2040.000000,NaN,6959.000000,NaN,NaN,NaN,2319.000000,021704.xls,Buffalo Regional Office
9,NaT,NaN,NaN,NaN,NaN,NaN,3610.000000,NaN,NaT,NaN,...,NaN,3110.000000,NaN,12994.000000,NaN,NaN,NaN,3960.000000,021704.xls,Cleveland Regional Office
10,NaT,NaN,NaN,NaN,NaN,NaN,3001.000000,NaN,NaT,NaN,...,NaN,2662.000000,NaN,9929.000000,NaN,NaN,NaN,3110.000000,021704.xls,Detroit Regional Office
11,NaT,NaN,NaN,NaN,NaN,NaN,579.000000,NaN,NaT,NaN,...,NaN,857.000000,NaN,2793.000000,NaN,NaN,NaN,1015.000000,021704.xls,Hartford Regional Office
12,NaT,NaN,NaN,NaN,NaN,NaN,1126.000000,NaN,NaT,NaN,...,NaN,2133.000000,NaN,6295.000000,NaN,NaN,NaN,2528.000000,021704.xls,Indianapolis Regional Office
13,NaT,NaN,NaN,NaN,NaN,NaN,528.000000,NaN,NaT,NaN,...,NaN,488.000000,NaN,2012.000000,NaN,NaN,NaN,560.000000,021704.xls,Manchester Regional Office
14,NaT,NaN,NaN,NaN,NaN,NaN,3707.000000,NaN,NaT,NaN,...,NaN,3793.000000,NaN,10339.000000,NaN,NaN,NaN,4157.000000,021704.xls,New York Regional Office
15,NaT,NaN,NaN,NaN,NaN,NaN,1198.000000,NaN,NaT,NaN,...,NaN,2394.000000,NaN,4215.000000,NaN,NaN,NaN,2682.000000,021704.xls,Newark Regional Office
16,NaT,NaN,NaN,NaN,NaN,NaN,4755.000000,NaN,NaT,NaN,...,NaN,2729.000000,NaN,27351.000000,NaN,NaN,NaN,3082.000000,021704.xls,Philadelphia Regional Office
17,NaT,NaN,NaN,NaN,NaN,NaN,1196.000000,NaN,NaT,NaN,...,NaN,1348.000000,NaN,5462.000000,NaN,NaN,NaN,1664.000000,021704.xls,Pittsburgh Regional Office
18,NaT,NaN,NaN,NaN,NaN,NaN,828.000000,NaN,NaT,NaN,...,NaN,943.000000,NaN,2354.000000,NaN,NaN,NaN,1039.000000,021704.xls,Providence Regional Office
19,NaT,NaN,NaN,NaN,NaN,NaN,546.000000,NaN,NaT,NaN,...,NaN,598.000000,NaN,3004.000000,NaN,NaN,NaN,721.000000,021704.xls,Togus VAMROC
20,NaT,NaN,NaN,NaN,NaN,NaN,143.000000,NaN,NaT,NaN,...,NaN,114.000000,NaN,735.000000,NaN,NaN,NaN,152.000000,021704.xls,White River Junction VAMROC
21,NaT,NaN,NaN,NaN,NaN,NaN,674.000000,NaN,NaT,NaN,...,NaN,487.000000,NaN,1632.000000,NaN,NaN,NaN,541.000000,021704.xls,Wilmington VAMROC
22,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,SOUTHERN AREA
23,NaT,NaN,NaN,NaN,NaN,NaN,2937.000000,NaN,NaT,NaN,...,NaN,5096.000000,NaN,13727.000000,NaN,NaN,NaN,5659.000000,021704.xls,Atlanta Regional Office
24,NaT,NaN,NaN,NaN,NaN,NaN,1723.000000,NaN,NaT,NaN,...,NaN,2740.000000,NaN,8904.000000,NaN,NaN,NaN,3479.000000,021704.xls,Columbia Regional Office
25,NaT,NaN,NaN,NaN,NaN,NaN,785.000000,NaN,NaT,NaN,...,NaN,1495.000000,NaN,4170.000000,NaN,NaN,NaN,1789.000000,021704.xls,Huntington Regional Office
26,NaT,NaN,NaN,NaN,NaN,NaN,1008.000000,NaN,NaT,NaN,...,NaN,1939.000000,NaN,5951.000000,NaN,NaN,NaN,2264.000000,021704.xls,Jackson Regional Office
27,NaT,NaN,NaN,NaN,NaN,NaN,3016.000000,NaN,NaT,NaN,...,NaN,2402.000000,NaN,8953.000000,NaN,NaN,NaN,2703.000000,021704.xls,Louisville Regional Office
28,NaT,NaN,NaN,NaN,NaN,NaN,2515.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,5109.000000,NaN,11582.000000,NaN,NaN,NaN,5543.000000,021704.xls,Montgomery Regional Office
29,NaT,NaN,NaN,NaN,NaN,NaN,1563.000000,NaN,NaT,NaN,...,NaN,3155.000000,NaN,10285.000000,NaN,NaN,NaN,3604.000000,021704.xls,Nashville Regional Office
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,NaT,NaN,NaN,NaN,NaN,NaN,210.000000,NaN,NaT,NaN,...,NaN,313.000000,NaN,1707.000000,NaN,NaN,NaN,462.000000,021704.xls,Fargo VAMROC
39,NaT,NaN,NaN,NaN,NaN,NaN,2579.000000,NaN,NaT,NaN,...,NaN,4233.000000,NaN,16710.000000,NaN,NaN,NaN,4934.000000,021704.xls,Houston Regional Office
40,NaT,NaN,NaN,NaN,NaN,NaN,458.000000,NaN,NaT,NaN,...,NaN,865.000000,NaN,3462.000000,NaN,NaN,NaN,1164.000000,021704.xls,Lincoln Regional Office
41,NaT,NaN,NaN,NaN,NaN,NaN,1672.000000,NaN,NaT,NaN,...,NaN,2412.000000,NaN,7197.000000,NaN,NaN,NaN,2703.000000,021704.xls,Little Rock Regional Office
42,NaT,NaN,NaN,NaN,NaN,NaN,5126.000000,NaN,NaT,NaN,...,NaN,2514.000000,NaN,29070.000000,NaN,NaN,NaN,2811.000000,021704.xls,Milwaukee Regional Office
43,NaT,NaN,NaN,NaN,NaN,NaN,1605.000000,NaN,NaT,NaN,...,NaN,1913.000000,NaN,8554.000000,NaN,NaN,NaN,2466.000000,021704.xls,Muskogee Regional Office
44,NaT,NaN,NaN,NaN,NaN,NaN,2282.000000,NaN,NaT,NaN,...,NaN,2778.000000,NaN,9355.000000,NaN,NaN,NaN,3121.000000,021704.xls,New Orleans Regional Office
45,NaT,NaN,NaN,NaN,NaN,NaN,226.000000,NaN,NaT,NaN,...,NaN,183.000000,NaN,1545.000000,NaN,NaN,NaN,257.000000,021704.xls,Sioux Falls VAMROC
46,NaT,NaN,NaN,NaN,NaN,NaN,1660.000000,NaN,NaT,NaN,...,NaN,3937.000000,NaN,8900.000000,NaN,NaN,NaN,4223.000000,021704.xls,St. Louis Regional Office
47,NaT,NaN,NaN,NaN,NaN,NaN,2460.000000,NaN,NaT,NaN,...,NaN,1533.000000,NaN,18636.000000,NaN,NaN,NaN,2348.000000,021704.xls,St. Paul Regional Office
48,NaT,NaN,NaN,NaN,NaN,NaN,4505.000000,NaN,NaT,NaN,...,NaN,7276.000000,NaN,21981.000000,NaN,NaN,NaN,8696.000000,021704.xls,Waco Regional Office
49,NaT,NaN,NaN,NaN,NaN,NaN,1439.000000,NaN,NaT,NaN,...,NaN,855.000000,NaN,4813.000000,NaN,NaN,NaN,1051.000000,021704.xls,Wichita VAMROC
50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,WESTERN AREA
51,NaT,NaN,NaN,NaN,NaN,NaN,879.000000,NaN,NaT,NaN,...,NaN,1013.000000,NaN,4306.000000,NaN,NaN,NaN,1257.000000,021704.xls,Albuquerque Regional Office
52,NaT,NaN,NaN,NaN,NaN,NaN,333.000000,NaN,NaT,NaN,...,NaN,706.000000,NaN,1531.000000,NaN,NaN,NaN,790.000000,021704.xls,Anchorage VAMROC
53,NaT,NaN,NaN,NaN,NaN,NaN,426.000000,NaN,NaT,NaN,...,NaN,892.000000,NaN,2376.000000,NaN,NaN,NaN,999.000000,021704.xls,Boise Regional Office
54,NaT,NaN,NaN,NaN,NaN,NaN,1018.000000,NaN,NaT,NaN,...,NaN,2292.000000,NaN,6253.000000,NaN,NaN,NaN,2599.000000,021704.xls,Denver Regional Office
55,NaT,NaN,NaN,NaN,NaN,NaN,306.000000,NaN,NaT,NaN,...,NaN,676.000000,NaN,1907.000000,NaN,NaN,NaN,728.000000,021704.xls,Fort Harrison VAMROC
56,NaT,NaN,NaN,NaN,NaN,NaN,1228.000000,NaN,NaT,NaN,...,NaN,628.000000,NaN,3840.000000,NaN,NaN,NaN,767.000000,021704.xls,Honolulu VAMROC
57,NaT,NaN,NaN,NaN,NaN,NaN,3280.000000,NaN,NaT,NaN,...,NaN,4149.000000,NaN,12625.000000,NaN,NaN,NaN,4643.000000,021704.xls,Los Angeles Regional Office
58,NaT,NaN,NaN,NaN,NaN,NaN,553.000000,NaN,NaT,NaN,...,NaN,2072.000000,NaN,4401.000000,NaN,NaN,NaN,2536.000000,021704.xls,Manila Regional Office
59,NaT,NaN,NaN,NaN,NaN,NaN,2856.000000,NaN,NaT,NaN,...,NaN,2434.000000,NaN,13864.000000,NaN,NaN,NaN,3119.000000,021704.xls,Oakland Regional Office
60,NaT,NaN,NaN,NaN,NaN,NaN,1842.000000,NaN,NaT,00:00:00,...,NaN,2025.000000,NaN,9593.000000,NaN,NaN,NaN,2343.000000,021704.xls,Phoenix Regional Office
61,NaT,NaN,NaN,NaN,NaN,NaN,2046.000000,NaN,NaT,NaN,...,NaN,3318.000000,NaN,7397.000000,NaN,NaN,NaN,3573.000000,021704.xls,Portland Regional Office
62,NaT,NaN,NaN,NaN,NaN,NaN,1211.000000,NaN,NaT,NaN,...,NaN,1232.000000,NaN,4437.000000,NaN,NaN,NaN,1410.000000,021704.xls,Reno Regional Office
63,NaT,NaN,NaN,NaN,NaN,NaN,108.000000,NaN,NaT,NaN,...,NaN,245.000000,NaN,1440.000000,NaN,NaN,NaN,361.000000,021704.xls,Salt Lake City Regional Office
64,NaT,NaN,NaN,NaN,NaN,NaN,1531.000000,NaN,NaT,NaN,...,NaN,2054.000000,NaN,8151.000000,NaN,NaN,NaN,2345.000000,021704.xls,San Diego Regional Office
65,NaT,NaN,NaN,NaN,NaN,NaN,3201.000000,NaN,NaT,NaN,...,NaN,2393.000000,NaN,12343.000000,NaN,NaN,NaN,2906.000000,021704.xls,Seattle Regional Office
66,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,NaN
67,NaT,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaT,NaN,...,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN,021704.xls,BVA/VBA Support Unit

### Now Let's Look at the Next Template // first failure to read in this way

#### The first failure is 101309.xls; looking at it, there are two tabs, the second one is called "Final Aggregate" and it also differs from the previous ones in that there's more spacing/headers

In [30]:
fileName="101309.xls"
df=pd.read_excel(fileName, sheet_name='Final Aggregate', header=7)

In [31]:
df

                              Claims Pending  Pending over 125 days  \
NaN USA                               393195                 144017
    EASTERN AREA                       83069                  33642
          Baltimore                     8647                   4387
          Boston                        4274                   1203
          Buffalo                       5172                   2324
          Cleveland                    10208                   4055
          Detroit                      11541                   5577
          Hartford                      1561                    404
          Indianapolis                 10353                   4714
          Manchester                    1264                    409
          New York                      7187                   3341
          Newark                        3379                   1149
          Philadelphia                 10274                   2764
          Pittsburgh                    4679                   2151
          Providence                    1526                    358
          Togus                         1772                    427
          White River J.                 721                    275
          Wilmington                     511                    104
    SOUTHERN AREA                     125437                  47222
          Atlanta                      18379                   7683
          Columbia                      9112                   2930
          Huntington                    2063                    351
          Jackson                       5945                   2942
          Louisville                    4821                   1354
          Montgomery                   11478                   5702
          Nashville                     7293                   1639
          Roanoke                      13125                   4827
          San Juan                      3528                   1391
          St. Petersburg               27534                  11069
          Washington                      15                      8
...                                      ...                    ...
          St. Paul                      8617                   1418
          Waco                         18758                   6851
          Wichita                       2759                    802
    WESTERN AREA                       83574                  30363
          Albuquerque                   2945                    976
          Anchorage                     1408                    637
          Boise                         1255                    208
          Denver                        6458                   2099
          Fort Harrison                 1611                    403
          Honolulu                      2541                    971
          Los Angeles                   8054                   2790
          Manila                        1427                    381
          Oakland                      15199                   7266
          Phoenix                       7928                   2652
          Portland                      6042                   2344
          Reno                          4222                   1750
          Salt Lake City                5159                   1535
          San Diego                     9869                   3115
          Seattle                       9456                   3236
    Other                                  1                      0
    NaN                                  NaN                    NaN
    NaN                    PENSION INVENTORY                    NaN
    NaN                       Entitlement                       NaN
    NaN                       Claims Pending  Pending over 125 days
    NaN                        120, 180, 190                    NaN
    USA (PMC's)                        56205                  15907
          Philadelphia                 25620                   8553
          Milwaukee                    13085                   2973
          St. Paul                     17256                   4292
    Other (in transit)                   244                     89

                           Percent Pending over 125 days  \
NaN USA                                         0.366274
    EASTERN AREA                                0.404989
          Baltimore                             0.507344
          Boston                                0.281469
          Buffalo                               0.449343
          Cleveland                             0.397237
          Detroit                               0.483234
          Hartford                              0.258808
          Indianapolis                          0.455327
          Manchester                            0.323576
          New York                              0.464867
          Newark                                0.340041
          Philadelphia                          0.269029
          Pittsburgh                            0.459714
          Providence                              0.2346
          Togus                                 0.240971
          White River J.                        0.381415
          Wilmington                            0.203523
    SOUTHERN AREA                                0.37646
          Atlanta                               0.418031
          Columbia                              0.321554
          Huntington                            0.170141
          Jackson                                0.49487
          Louisville                            0.280855
          Montgomery                            0.496776
          Nashville                             0.224736
          Roanoke                               0.367771
          San Juan                              0.394274
          St. Petersburg                        0.402012
          Washington                            0.533333
...                                                  ...
          St. Paul                              0.164558
          Waco                                  0.365231
          Wichita                               0.290685
    WESTERN AREA                                0.363307
          Albuquerque                           0.331409
          Anchorage                             0.452415
          Boise                                 0.165737
          Denver                                0.325023
          Fort Harrison                         0.250155
          Honolulu                              0.382133
          Los Angeles                           0.346412
          Manila                                0.266994
          Oakland                               0.478058
          Phoenix                               0.334511
          Portland                              0.387951
          Reno                                  0.414495
          Salt Lake City                        0.297538
          San Diego                             0.315635
          Seattle                               0.342217
    Other                                              0
    NaN                                              NaN
    NaN                                              NaN
    NaN                                              NaN
    NaN                    Percent Pending over 125 days
    NaN                                              NaN
    USA (PMC's)                                 0.283018
          Philadelphia                          0.333841
          Milwaukee                             0.227207
          St. Paul                              0.248725
    Other (in transit)                          0.364754

                                                                     Pending  \
NaN USA                                                               147439
    EASTERN AREA                                                       27495
          Baltimore                                                     3424
          Boston                                                         896
          Buffalo                                                       1982
          Cleveland                                                     2372
          Detroit                                                       2792
          Hartford                                                       968
          Indianapolis                                                  4303
          Manchester                                                     423
          New York                                                      2819
          Newark                                                         672
          Philadelphia                                                  2734
          Pittsburgh                                                    2418
          Providence                                                     543
          Togus                                                          748
          White River J.                                                 135
          Wilmington                                                     266
    SOUTHERN AREA                                                      40569
          Atlanta                                                       5498
          Columbia                                                      2529
          Huntington                                                     723
          Jackson                                                       1544
          Louisville                                                    1945
          Montgomery                                                    5384
          Nashville                                                     2179
          Roanoke                                                       3043
          San Juan                                                      1566
          St. Petersburg                                                7936
          Washington                                                      15
...                                                                      ...
          St. Paul                                                       901
          Waco                                                          3579
          Wichita                                                        875
    WESTERN AREA                                                       53238
          Albuquerque                                                    551
          Anchorage                                                      787
          Boise                                                          483
          Denver                                                        2392
          Fort Harrison                                                  746
          Honolulu                                                       459
          Los Angeles                                                   2916
          Manila                                                       22870
          Oakland                                                       5603
          Phoenix                                                       2288
          Portland                                                      3294
          Reno                                                           732
          Salt Lake City                                                2175
          San Diego                                                     2203
          Seattle                                                       5739
    Other                                                                 10
    NaN                                                                  NaN
    NaN                                                                  NaN
    NaN                                                    Award Adjustment
    NaN                                                              Pending
    NaN                    050, 135 (adjusted), 137, 150, 155, 297 (PMC o...
    USA (PMC's)                                                        69510
          Philadelphia                                                 35809
          Milwaukee                                                    16967
          St. Paul                                                     16281
    Other (in transit)                                                   453

                          Pending over 125 days.1  \
NaN USA                                     46948
    EASTERN AREA                             7737
          Baltimore                          1949
          Boston                              173
          Buffalo                             348
          Cleveland                           300
          Detroit                             546
          Hartford                             58
          Indianapolis                       1700
          Manchester                           50
          New York                            964
          Newark                              157
          Philadelphia                        243
          Pittsburgh                         1153
          Providence                           22
          Togus                                36
          White River J.                       17
          Wilmington                           21
    SOUTHERN AREA                            9307
          Atlanta                            1929
          Columbia                            283
          Huntington                          112
          Jackson                             275
          Louisville                          261
          Montgomery                         2814
          Nashville                            65
          Roanoke                             204
          San Juan                            121
          St. Petersburg                     1991
          Washington                           13
...                                           ...
          St. Paul                             52
          Waco                                276
          Wichita                             140
    WESTERN AREA                            25873
          Albuquerque                          45
          Anchorage                           285
          Boise                                54
          Denver                              511
          Fort Harrison                        12
          Honolulu                             78
          Los Angeles                         462
          Manila                            19376
          Oakland                            1760
          Phoenix                             107
          Portland                           1281
          Reno                                 97
          Salt Lake City                      344
          San Diego                            62
          Seattle                            1399
    Other                                       3
    NaN                                       NaN
    NaN                                       NaN
    NaN                                       NaN
    NaN                     Pending over 125 days
    NaN                                       NaN
    USA (PMC's)                             30194
          Philadelphia                      17283
          Milwaukee                          6660
          St. Paul                           5952
    Other (in transit)                        299

                          Percent Pending over 125 days.1  \
NaN USA                                          0.318423
    EASTERN AREA                                 0.281397
          Baltimore                              0.569217
          Boston                                  0.19308
          Buffalo                                 0.17558
          Cleveland                              0.126476
          Detroit                                0.195559
          Hartford                              0.0599174
          Indianapolis                           0.395073
          Manchester                             0.118203
          New York                               0.341965
          Newark                                 0.233631
          Philadelphia                          0.0888808
          Pittsburgh                              0.47684
          Providence                            0.0405157
          Togus                                 0.0481283
          White River J.                         0.125926
          Wilmington                            0.0789474
    SOUTHERN AREA                                0.229412
          Atlanta                                0.350855
          Columbia                               0.111902
          Huntington                              0.15491
          Jackson                                0.178109
          Louisville                              0.13419
          Montgomery                              0.52266
          Nashville                             0.0298302
          Roanoke                               0.0670391
          San Juan                              0.0772669
          St. Petersburg                         0.250882
          Washington                             0.866667
...                                                   ...
          St. Paul                              0.0577137
          Waco                                  0.0771165
          Wichita                                    0.16
    WESTERN AREA                                 0.485987
          Albuquerque                           0.0816697
          Anchorage                              0.362135
          Boise                                  0.111801
          Denver                                 0.213629
          Fort Harrison                         0.0160858
          Honolulu                               0.169935
          Los Angeles                            0.158436
          Manila                                 0.847223
          Oakland                                0.314117
          Phoenix                               0.0467657
          Portland                               0.388889
          Reno                                   0.132514
          Salt Lake City                         0.158161
          San Diego                             0.0281434
          Seattle                                0.243771
    Other                                             0.3
    NaN                                               NaN
    NaN                                               NaN
    NaN                                               NaN
    NaN                     Percent Pending over 125 days
    NaN                                               NaN
    USA (PMC's)                                  0.434384
          Philadelphia                           0.482644
          Milwaukee                              0.392527
          St. Paul                                0.36558
    Other (in transit)                           0.660044

                                                       Pending  \
NaN USA                                                  22479
    EASTERN AREA                                          5674
          Baltimore                                       1979
          Boston                                           460
          Buffalo                                          281
          Cleveland                                        457
          Detroit                                          408
          Hartford                                         108
          Indianapolis                                     473
          Manchester                                         2
          New York                                         408

In [ ]:
### This is working fine, the question is, can we actually hardcode 7 or do we need to make this more flexible?