# VBA Files

### Pulling Excel Files from the Website

#### The steps of this are going to be:

#### Pulling the files to my computer from 2014 to present at https://www.benefits.va.gov/reports/detailed_claims_data.asp and
#### historical files at https://www.benefits.va.gov/REPORTS/mmwr/historical/{year}/index.asp from 2004 to 2013

#### Reading in the table that's initially the only table

#### Cleaning it to add file information and standardize the columns

#### Analytics

### Libraries/Setup

In [18]:
import pandas as pd
import numpy as np
import os
import requests
from bs4 import BeautifulSoup
import win32com.client
os.chdir(r'C:\Users\admin\Documents\Python Scripts\veteranLawData')

### Get File URLs From By-Year (Archive) Pages

In [10]:
def pullFilesByYear(year):
    url= f'https://www.benefits.va.gov/REPORTS/mmwr/historical/{str(year)}/index.asp'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    filesToGet=[]
    for link in soup.findAll('a'):
        try:
            if "xls" in (link.get('href')):
                filesToGet.append(link.get('href'))
        except:
            pass
    return(filesToGet)

yearRange=list(range(2004, 2014))
#files=pullTheFiles(2004)
filesList=list(map(pullFilesByYear, yearRange))
flatFileList= [item for sublist in filesList for item in sublist]

### Get File URLs From Main, Current Page

In [11]:
def pullFilesFromSite():
    url='https://www.benefits.va.gov/reports/detailed_claims_data.asp'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    filesToGet=[]
    for link in soup.findAll('a'):
        try:
            if "xls" in (link.get('href')):
                filesToGet.append(link.get('href'))
        except:
            pass
    return(filesToGet)

filesList2=pullFilesFromSite()

### Check We Have The Right Number From By-Year Archive Pages: 2008 Is Legitimately Missing Three, I Checked

In [12]:
for fileList in filesList:
    print(len(fileList))

52
52
52
52
49
52
52
52
52
53

### Check We Have The Right Number from Top, Recent Page

In [13]:
files2018=[i.split("_")[1] for i in filesList2 if ("2018" in i and "18" in i.split("_")[1])]
len(files2018)

54

### This Looks Pretty Good, We Might Need to Go Back and Check At Some Point

In [14]:
files2018.sort()
files2018

['01-01-18.xlsx',
 '01-08-18.xlsx',
 '01-16-18.xlsx',
 '01-22-18.xlsx',
 '01-29-18.xlsx',
 '02-05-18.xlsx',
 '02-12-18.xlsx',
 '02-19-18.xlsx',
 '02-26-18.xlsx',
 '03-05-18.xlsx',
 '03-12-18.xlsx',
 '03-19-18.xlsx',
 '03-26-18.xlsx',
 '04-02-18.xlsx',
 '04-09-18.xlsx',
 '04-16-18.xlsx',
 '04-23-18.xlsx',
 '04-28-18.xlsx',
 '05-07-18.xlsx',
 '05-14-18.xlsx',
 '05-21-18.xlsx',
 '05-29-18.xlsx',
 '06-04-18.xlsx',
 '06-11-18.xlsx',
 '06-18-18.xlsx',
 '06-25-18.xlsx',
 '07-09-18.xlsx',
 '07-14-18.xlsx',
 '07-23-18.xlsx',
 '07-30-18.xlsx',
 '08-06-18.xlsx',
 '08-13-18.xlsx',
 '08-20-2018.xlsx',
 '08-27-2018.xlsx',
 '09-04-18.xlsx',
 '09-10-18.xlsx',
 '09-17-18.xlsx',
 '09-24-18.xlsx',
 '10-01-18.xlsx',
 '10-08-18',
 '10-15-18',
 '10-22-18',
 '10-29-18',
 '11-05-18',
 '11-13-18',
 '11-19-18',
 '11-26-18.xlsx',
 '12-03-18.xlsx',
 '12-10-18.xlsx',
 '12-17-18.xlsx',
 '12-18-17.xlsx',
 '12-24-18.xlsx',
 '12-31-18.xlsx',
 '7-2-18.xlsx']

### Append The Lists of Files

In [15]:
allList= flatFileList + filesList2

### Pull The Files

In [16]:
#there are two different formats for how the file URLs are structured; this picks up both
#this takes the longest to run, and I don't need to run it every time because I already have the files

def pullFile(url):
    try:
        cleanLink='https://www.benefits.va.gov'+url
        r = requests.get(cleanLink, allow_redirects=True)
        name=cleanLink.split("/")[-1]
        open(name, 'wb').write(r.content)
        return(name)
    except:
        try: 
            r = requests.get(url, allow_redirects=True)
            name=url.split("/")[-1]
            open(name, 'wb').write(r.content)
        except:
            print(url)

#listOfFileNames=list(map(pullFile, allList))

### Read Them Into A Dictionary: There are a bunch of different types

In [24]:
#there are a few different formats for the content we want, identifiable by tab names 
#and whether it errors out for being encrypted
def getEncyptedFiles(fileName):
    fullFileName=os.getcwd()+'\\'+fileName
    #fileName=r"C:\Users\admin\Documents\Python Scripts\veteranLawData\MMWL_01-04-14.xls"
    excel = win32com.client.Dispatch('Excel.Application')
    workbook = excel.Workbooks.open(fullFileName)
    try:
        sheet = workbook.WorkSheets('Traditional Aggregate')
    except:
        sheet = workbook.WorkSheets(r'TA-Regional Office')
    content = sheet.Range(sheet.Cells(9, 2), sheet.Cells(80, 18)).Value 
    # Transfer content to pandas dataframe
    df = pd.DataFrame(list(content))
    df.columns = df.iloc[0]
    workbook.Close(True)
    return(df)

def readBasicFile(fileName):
    try:
        xl=pd.ExcelFile(fileName)
        if len(xl.sheet_names)==1:
            df=pd.read_excel(fileName)
        if 'Final Aggregate' in xl.sheet_names:
            df=pd.read_excel(fileName, sheet_name='Final Aggregate', header=7)
        if 'Traditional Aggregate' in xl.sheet_names:
            df=pd.read_excel(fileName, sheet_name='Traditional Aggregate', header=7)
        print("worked1")
        return(df)
    except:
        try:
            df=getEncyptedFiles(fileName)
            print("worked2")
            return(df)
        except:
            print(f"failed on {fileName}")
        
downloadedFiles=[i for i in os.listdir() if "xls" in i]
(len(downloadedFiles))

796

In [32]:
#we're going to randomly pull 50 and see how it goes
import random
myRandoms = random.sample(range(len(downloadedFiles)), 50)
myRandomFileNames=[downloadedFiles[i] for i in myRandoms]

In [33]:
myRandomDFs= list(map(readBasicFile, myRandomFileNames))

worked1
worked1
worked1
worked1
worked1
worked1
worked2
worked1
worked2
worked1
worked1
worked2
worked1
worked1
worked1
worked2
worked1
worked1
worked2
worked1
worked1
worked1
worked1
worked1
worked1
worked2
worked1
worked1
worked1
worked2
worked1
worked2
worked1
worked2
worked1
worked1
worked2
worked1
worked2
worked1
worked1
worked1
worked1
worked1
worked1
worked1
worked1
worked1
worked1
worked1
worked1
worked2
worked1
worked2
worked1
worked1
worked1
worked1
worked1
worked1
worked2

In [35]:
dictionaryOfFiles = dict(zip(myRandomFileNames, myRandomDFs))

### Append Into Master DF

In [36]:


masterDF=pd.DataFrame()
for key in dictionaryOfFiles.keys():
    try:
        df=dictionaryOfFiles[key]
        df['fileName']=key
        listOfPhrasesToFind=["As of", "For the Week"]
        foundPhrase=[i for i in df.columns if any(substring in i for substring in listOfPhrasesToFind)]
        dropPhrase=[i for i in df.columns if "Percent" in i]
        #print(len(foundPhrase))
        #df["forTheWeek"]=df[foundPhrase[0]]
        #df=df.drop([foundPhrase[0]], axis=1)
        #df=df.drop(dropPhrase, axis=1)
        masterDF=masterDF.append(df, sort=True)
        #print(key)
    except:
        print(f'failed on {key}')

failed on MMWR_2015-05-25.xlsx
failed on MMWL_06-30-14.xls
failed on 111213.xls
failed on MMWR_2015-08-24_b.xlsx
failed on MMWR_2015-12-21_b.xlsx
failed on MMWR_2015-01-26.xlsx
failed on MMWL_11-17-14.xls
failed on MMWR_08-13-18.xlsx
failed on MMWR_10-2-2017.xlsx
failed on MMWR 6-24-17.xlsx
failed on MMWR 4-22-17.xlsx
failed on MMWR_2015-10-05_b.xlsx
failed on MMWR_09-04-18.xlsx
failed on MMWR_8-28-17.xlsx
failed on MMWR_2015-12-28_b.xlsx
failed on MMWR_2015-07-27_b.xlsx

#### I see, looking at these, that what's happening is that I'm reading the wrong tabs. This is the next thing to look at

#### I think part of the issue is that the content we're looking at -- it's not just that the tab name changes, it's that 

#### we may have a tab name across multiple worksheets that, sometimes it's the right one and sometimes it isn't

#### have to decide, do we want to do increasingly elaborate if, then, or do we want to read in all the tabs and tell it to look for

#### specific kinds of content

### Let's look at the ones where it is reading - there's a lot to clean, but this looks like we would want it to

In [39]:
masterDF.columns

Index([' Pending', ' Pending.1', ' Rating Cases Pending',
       ' Rating Claims Pending', '* Scorecard  Non-Rating Cases Pending',
       '* Scorecard  Non-Rating Claims Pending', 'Accrued  ', 'Appeals',
       'As of: \nApril 07, 2007\n  ', 'As of: \nApril 12, 2008\n  ',
       'As of: \nApril 19, 2008\n  ', 'As of: \nApril 28, 2007\n  ',
       'As of: \nApril 29, 2006\n  ', 'As of: \nFebruary 03, 2007\n  ',
       'As of: \nFebruary 17, 2007\n  ', 'As of: \nJan 3, 2009\n  ',
       'As of: \nJanuary 22, 2005\n  ', 'As of: \nJanuary 31,2009\n  ',
       'As of: \nJuly 14, 2007\n  ', 'As of: \nJuly 28, 2007\n  ',
       'As of: \nJune 20, 2009', 'As of: \nJune 3, 2006\n  ',
       'As of: \nMarch 31, 2007\n  ', 'As of: \nMarch 7, 2009\n  ',
       'As of: \nMay 15, 2009', 'As of: \nMay 28, 2005\n  ',
       'As of: \nMay 6, 2006\n  ', 'As of: \nSeptember 12,  2009',
       'As of: \nSeptember 16, 2006\n  ', 'Award Adjustment ', 'Burial  ',
       'C&P Claims over 180 Days ', 'C&P Claims over 180 Days in WIPP',
       'C&P Work Items over 180 Days ', 'COE', 'COEs Issued', 'Claims Pending',
       'Claims Pending.1', 'Claims Pending.2', 'Date of Oldest Pending COE',
       'Education Work Items Pending ', 'Entitlement   ', 'Entitlement *   ',
       'Guarantees Pending', 'IVMs Pending (EP 154 and EP 314)',
       'Non-Rating Cases Pending over 180 Days',
       'Non-Rating Claims Pending over 180 Days', 'Other', 'Other *',
       'Pending', 'Pending over 125 days', 'Pending over 125 days.1',
       'Pending over 125 days.2', 'Pending over 125 days.3', 'Pending.1',
       'Percent Pending over 125 days', 'Percent Pending over 125 days.1',
       'Percent Pending over 125 days.2', 'Percent Pending over 125 days.3',
       'Percent Pending over 180 Days', 'Percent Pending over 180 Days.1',
       'Percent Pending over 180 Days.2', 'Pre-Discharge Claims',
       'Program Review ', 'Program Review * ', 'Program Review *  ',
       'Rating Bundle', 'Rating Cases Pending over 180 Days',
       'Rating Claims Pending over 180 Days', 'SOC's',
       'Scorecard Non-Rating Cases Pending', 'Scorecard Rating Cases Pending',
       'Total Appeals Requiring Adjudicative Action ', 'Total C&P Pending ',
       'Total C&P Pending in Wipp', 'Total C&P Work Items Pending ',
       'Unnamed: 1', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'VACOLS Appeals', 'fileName'],
      dtype='object')

### We want to see similar lengths of the dataframe by fileName to make sure we're not cutting anything off

In [43]:
masterDF['fileName'].value_counts().value_counts().sort_index()

70    10
71     3
72     5
73     1
77     1
78     2
89     5
92     7
Name: fileName, dtype: int64

### Let's look at a 70 just to see if it's cutting anything off

In [57]:
firstShortFile=masterDF.groupby(['fileName']).size().sort_values().index[0]
firstShortFile

'091806.xls'

In [59]:
masterDF.loc[masterDF['fileName']==firstShortFile].dropna(how='all', axis=1)

,"As of: September 16, 2006",C&P Claims over 180 Days in WIPP,COEs Issued,Date of Oldest Pending COE,Education Work Items Pending,Guarantees Pending,IVMs Pending (EP 154 and EP 314),Non-Rating Cases Pending over 180 Days,Percent Pending over 180 Days,Percent Pending over 180 Days.1,Percent Pending over 180 Days.2,Pre-Discharge Claims,Rating Cases Pending over 180 Days,SOC's,Scorecard Non-Rating Cases Pending,Scorecard Rating Cases Pending,Total Appeals Requiring Adjudicative Action,Total C&P Pending in Wipp,VACOLS Appeals,fileName
0,USA,148500.000000,00:00:00,2006-09-14 00:00:00,131144,61.00,16944,47441.000000,0.231762,0.301684,0.249365,3621,89763.000000,18861.000000,157254.000000,387306.000000,133599,595512.000000,152460.000000,091806.xls
1,Last Week,151140.000000,00:00:00,2006-09-05 00:00:00,130566,50.00,17146,48220.000000,0.235399,0.303536,0.252600,3423,91639.000000,17868.000000,158861.000000,389293.000000,133852,598338.000000,151720.000000,091806.xls
2,Change from Last Week,-2640.000000,00:00:00,NaT,578,11.00,-202,-779.000000,-0.003636,-0.0018519,-0.003234,198,-1876.000000,993.000000,-1607.000000,-1987.000000,-253,-2826.000000,740.000000,091806.xls
3,Percent Change,-0.017467,NaN,NaT,0.00442688,0.22,-0.0117812,-0.016155,NaN,NaN,NaN,0.057844,-0.020472,0.055574,-0.010116,-0.005104,-0.00189015,-0.004723,0.004877,091806.xls
4,Last Year,98077.000000,00:00:00,2005-09-12 00:00:00,113162,823.00,14511,18101.000000,0.209433,0.154126,0.194092,8906,73487.000000,21913.000000,117443.000000,350885.000000,130158,505311.000000,152071.000000,091806.xls
5,EASTERN AREA,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091806.xls
6,Baltimore,1691.000000,NaN,NaT,NaN,NaN,8,613.000000,0.213000,0.343,0.245000,23,960.000000,206.000000,1789.000000,4499.000000,1383,6895.000000,1589.000000,091806.xls
7,Boston,1462.000000,NaN,NaT,NaN,NaN,2,182.000000,0.248000,0.154,0.228000,0,1196.000000,328.000000,1180.000000,4830.000000,1749,6403.000000,2077.000000,091806.xls
8,Buffalo,1841.000000,NaN,NaT,38352,NaN,8,358.000000,0.264000,0.19,0.245000,17,1357.000000,197.000000,1880.000000,5139.000000,1130,7516.000000,1327.000000,091806.xls
9,Cleveland,5976.000000,NaN,NaT,NaN,46.00,1,1375.000000,0.292000,0.333,0.300000,14,4408.000000,778.000000,4130.000000,15075.000000,2973,19899.000000,3751.000000,091806.xls
10,Detroit,4499.000000,NaN,NaT,NaN,NaN,1,918.000000,0.249000,0.208,0.251000,17,3111.000000,550.000000,4406.000000,12487.000000,1930,17898.000000,2480.000000,091806.xls
11,Hartford,591.000000,NaN,NaT,NaN,NaN,0,110.000000,0.121000,0.116,0.141000,0,337.000000,165.000000,951.000000,2791.000000,861,4198.000000,1026.000000,091806.xls
12,Indianapolis,2067.000000,NaN,NaT,NaN,NaN,0,385.000000,0.182000,0.166,0.183000,0,1524.000000,144.000000,2314.000000,8370.000000,2371,11286.000000,2515.000000,091806.xls
13,Manchester,341.000000,NaN,NaT,NaN,0.00,0,36.000000,0.216000,0.103,0.187000,8,288.000000,76.000000,349.000000,1332.000000,230,1822.000000,306.000000,091806.xls
14,New York,4326.000000,NaN,NaT,NaN,NaN,13,1069.000000,0.354000,0.263,0.325000,15,3084.000000,325.000000,4065.000000,8704.000000,1247,13329.000000,1572.000000,091806.xls
15,Newark,1987.000000,NaN,NaT,NaN,NaN,10,162.000000,0.336000,0.247,0.326000,5,1763.000000,214.000000,656.000000,5244.000000,1490,6104.000000,1704.000000,091806.xls
16,Philadelphia,12006.000000,NaN,NaT,NaN,NaN,5220,9646.000000,0.131000,0.53,0.364000,6,952.000000,505.000000,18191.000000,7263.000000,2738,32979.000000,3243.000000,091806.xls
17,Pittsburgh,3768.000000,NaN,NaT,NaN,NaN,3,719.000000,0.431000,0.344,0.408000,13,2983.000000,299.000000,2093.000000,6923.000000,1307,9245.000000,1606.000000,091806.xls
18,Providence,189.000000,NaN,NaT,NaN,NaN,2,5.000000,0.064000,0.024,0.098000,0,97.000000,124.000000,212.000000,1524.000000,765,1928.000000,889.000000,091806.xls
19,Togus,463.000000,NaN,NaT,NaN,NaN,0,49.000000,0.156000,0.093,0.144000,3,389.000000,123.000000,525.000000,2490.000000,513,3209.000000,636.000000,091806.xls
20,White River Junction,234.000000,NaN,NaT,NaN,NaN,0,5.000000,0.254000,0.082,0.232000,0,225.000000,54.000000,61.000000,886.000000,155,1007.000000,209.000000,091806.xls
21,Wilmington,241.000000,NaN,NaT,NaN,NaN,3,84.000000,0.172000,0.292,0.203000,1,142.000000,18.000000,288.000000,827.000000,539,1188.000000,557.000000,091806.xls
22,SOUTHERN AREA,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091806.xls
23,Atlanta,6435.000000,NaN,NaT,31756,0.00,6,1005.000000,0.275000,0.253,0.291000,124,4331.000000,383.000000,3969.000000,15761.000000,4227,22136.000000,4610.000000,091806.xls
24,Columbia,686.000000,NaN,NaT,NaN,NaN,0,150.000000,0.077000,0.085,0.085000,37,410.000000,928.000000,1764.000000,5325.000000,2439,8114.000000,3367.000000,091806.xls
25,Huntington,1777.000000,NaN,NaT,NaN,NaN,6,307.000000,0.285000,0.224,0.281000,0,1224.000000,89.000000,1372.000000,4289.000000,2067,6320.000000,2156.000000,091806.xls
26,Jackson,598.000000,NaN,NaT,NaN,NaN,0,128.000000,0.103000,0.09,0.120000,17,284.000000,420.000000,1424.000000,2757.000000,1712,4989.000000,2132.000000,091806.xls
27,Louisville,2077.000000,NaN,NaT,NaN,NaN,1,291.000000,0.222000,0.201,0.231000,1,1547.000000,369.000000,1446.000000,6978.000000,3068,9009.000000,3437.000000,091806.xls
28,Montgomery,6011.000000,NaN,NaT,NaN,NaN,0,2019.000000,0.296000,0.343,0.313000,1,3734.000000,205.000000,5880.000000,12629.000000,6826,19225.000000,7031.000000,091806.xls
29,Nashville,1138.000000,NaN,NaT,NaN,NaN,0,106.000000,0.101000,0.038,0.095000,20,851.000000,296.000000,2789.000000,8390.000000,4076,11966.000000,4372.000000,091806.xls
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,Lincoln,373.000000,NaN,NaT,NaN,NaN,0,14.000000,0.121000,0.042,0.116000,3,319.000000,353.000000,332.000000,2628.000000,763,3209.000000,1116.000000,091806.xls
41,Little Rock,1898.000000,NaN,NaT,NaN,NaN,0,1018.000000,0.145000,0.287,0.220000,0,592.000000,408.000000,3548.000000,4075.000000,1477,8630.000000,1885.000000,091806.xls
42,Milwaukee,8499.000000,NaN,NaT,NaN,NaN,5443,7571.000000,0.112000,0.467,0.330000,0,601.000000,332.000000,16206.000000,5384.000000,1635,25762.000000,1967.000000,091806.xls
43,Muskogee,1367.000000,NaN,NaT,25247,NaN,0,189.000000,0.166000,0.123,0.160000,5,1029.000000,573.000000,1542.000000,6203.000000,2013,8567.000000,2586.000000,091806.xls
44,New Orleans,3255.000000,NaN,NaT,NaN,NaN,0,205.000000,0.376000,0.181,0.374000,3,2582.000000,201.000000,1133.000000,6861.000000,2159,8714.000000,2360.000000,091806.xls
45,Sioux Falls,136.000000,NaN,NaT,NaN,NaN,0,4.000000,0.119000,0.032,0.103000,0,131.000000,61.000000,125.000000,1102.000000,101,1322.000000,162.000000,091806.xls
46,St. Louis,1618.000000,NaN,NaT,35789,NaN,0,125.000000,0.164000,0.105,0.161000,13,1367.000000,336.000000,1185.000000,8329.000000,3251,10032.000000,3587.000000,091806.xls
47,St. Paul,10986.000000,NaN,NaT,NaN,0.00,6019,9856.000000,0.113000,0.599,0.425000,0,516.000000,541.000000,16449.000000,4571.000000,881,25833.000000,1422.000000,091806.xls
48,Waco,4359.000000,NaN,NaT,NaN,NaN,2,156.000000,0.212000,0.05,0.186000,39,4002.000000,1838.000000,3127.000000,18912.000000,7572,23426.000000,9410.000000,091806.xls
49,Wichita,1479.000000,NaN,NaT,NaN,NaN,0,231.000000,0.327000,0.17,0.278000,3,1210.000000,188.000000,1359.000000,3695.000000,739,5325.000000,927.000000,091806.xls
50,WESTERN AREA,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091806.xls
51,Albuquerque,1056.000000,NaN,NaT,NaN,NaN,0,28.000000,0.243000,0.049,0.220000,1,950.000000,144.000000,569.000000,3909.000000,1224,4799.000000,1368.000000,091806.xls
52,Anchorage,460.000000,NaN,NaT,NaN,NaN,0,16.000000,0.296000,0.039,0.231000,3,435.000000,46.000000,410.000000,1472.000000,366,1993.000000,412.000000,091806.xls
53,Boise,193.000000,NaN,NaT,NaN,NaN,0,6.000000,0.108000,0.021,0.095000,0,165.000000,147.000000,282.000000,1531.000000,382,2028.000000,529.000000,091806.xls
54,Denver,2748.000000,NaN,NaT,NaN,0.00,1,80.000000,0.311000,0.044,0.257000,3,2568.000000,187.000000,1803.000000,8262.000000,2360,10673.000000,2547.000000,091806.xls
55,Fort Harrison,305.000000,NaN,NaT,NaN,NaN,0,4.000000,0.154000,0.012,0.129000,2,297.000000,78.000000,326.000000,1924.000000,406,2358.000000,484.000000,091806.xls
56,Honolulu,783.000000,NaN,NaT,NaN,NaN,0,75.000000,0.234000,0.13,0.211000,0,703.000000,153.000000,576.000000,2999.000000,808,3714.000000,961.000000,091806.xls
57,Los Angeles,3237.000000,NaN,NaT,NaN,NaN,0,790.000000,0.248000,0.264,0.253000,0,2302.000000,371.000000,2990.000000,9291.000000,4042,12774.000000,4413.000000,091806.xls
58,Manila,259.000000,NaN,NaT,NaN,NaN,0,70.000000,0.062000,0.107,0.095000,0,111.000000,313.000000,652.000000,1793.000000,1149,2716.000000,1462.000000,091806.xls
59,Oakland,4313.000000,NaN,NaT,NaN,NaN,5,485.000000,0.272000,0.155,0.248000,2,3629.000000,533.000000,3123.000000,13347.000000,3497,17408.000000,4030.000000,091806.xls
60,Phoenix,1557.000000,NaN,NaT,NaN,0.00,1,130.000000,0.164000,0.043,0.138000,0,1215.000000,396.000000,3000.000000,7420.000000,2053,11278.000000,2449.000000,091806.xls
61,Portland,1791.000000,NaN,NaT,NaN,NaN,0,336.000000,0.209000,0.169,0.200000,0,1379.000000,255.000000,1989.000000,6599.000000,3570,8943.000000,3825.000000,091806.xls
62,Reno,1225.000000,NaN,NaT,NaN,NaN,1,45.000000,0.277000,0.06,0.231000,0,1151.000000,186.000000,749.000000,4161.000000,734,5297.000000,920.000000,091806.xls
63,Salt Lake City,374.000000,NaN,NaT,NaN,NaN,0,36.000000,0.090000,0.064,0.092000,548,289.000000,137.000000,563.000000,3225.000000,215,4083.000000,352.000000,091806.xls
64,San Diego,1217.000000,NaN,NaT,NaN,NaN,0,63.000000,0.148000,0.033,0.121000,107,1091.000000,319.000000,1903.000000,7377.000000,2155,10065.000000,2474.000000,091806.xls
65,Seattle,2356.000000,NaN,NaT,NaN,NaN,0,260.000000,0.185000,0.106,0.163000,5,1778.000000,406.000000,2444.000000,9616.000000,3483,14414.000000,3889.000000,091806.xls
66,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091806.xls
67,AMC,65.000000,NaN,NaT,NaN,NaN,1,13.000000,0.588000,0.765,0.304000,NaN,20.000000,NaN,17.000000,34.000000,14902,214.000000,14902.000000,091806.xls
68,Note: 1. This report includes RATING and NON-R...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091806.xls
69,2. Predischarge claims pending includ...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091806.xls

### that looks good, and I confirmed from looking at the file that there aren't additional cities being cut off at the bottom