# VBA Files

### Pulling Excel Files from the Website

In [1]:
# There are weekly files from 2014 to present on https://www.benefits.va.gov/reports/detailed_claims_data.asp

# There are historical files at https://www.benefits.va.gov/REPORTS/mmwr/historical/{year}/index.asp from 2004 to 2013

# Presumably the first step will be just pulling all of them

### Libraries/Setup

In [1]:
import pandas as pd
import numpy as np
import os
import requests
from bs4 import BeautifulSoup
import win32com.client
os.chdir(r'C:\Users\admin\Documents\Python Scripts\veteranLawData')

### Get File URLs From By-Year Pages

In [2]:
def pullFilesByYear(year):
    url= f'https://www.benefits.va.gov/REPORTS/mmwr/historical/{str(year)}/index.asp'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    filesToGet=[]
    for link in soup.findAll('a'):
        try:
            if "xls" in (link.get('href')):
                filesToGet.append(link.get('href'))
        except:
            pass
    return(filesToGet)

yearRange=list(range(2004, 2014))
#files=pullTheFiles(2004)
filesList=list(map(pullFilesByYear, yearRange))
flatFileList= [item for sublist in filesList for item in sublist]

### Get File URLs From Top Page

In [3]:
def pullFilesFromSite():
    url='https://www.benefits.va.gov/reports/detailed_claims_data.asp'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    filesToGet=[]
    for link in soup.findAll('a'):
        try:
            if "xls" in (link.get('href')):
                filesToGet.append(link.get('href'))
        except:
            pass
    return(filesToGet)

filesList2=pullFilesFromSite()

### Check We Have The Right Number From By-Year Archive Pages: 2008 Is Legitimately Missing Three, I Checked

In [4]:
for fileList in filesList:
    print(len(fileList))

52
52
52
52
49
52
52
52
52
53

### Check We Have The Right Number from Top, Recent Page

In [5]:
files2018=[i.split("_")[1] for i in filesList2 if ("2018" in i and "18" in i.split("_")[1])]
len(files2018)

54

### This Looks Pretty Good

In [6]:
files2018.sort()
files2018

['01-01-18.xlsx',
 '01-08-18.xlsx',
 '01-16-18.xlsx',
 '01-22-18.xlsx',
 '01-29-18.xlsx',
 '02-05-18.xlsx',
 '02-12-18.xlsx',
 '02-19-18.xlsx',
 '02-26-18.xlsx',
 '03-05-18.xlsx',
 '03-12-18.xlsx',
 '03-19-18.xlsx',
 '03-26-18.xlsx',
 '04-02-18.xlsx',
 '04-09-18.xlsx',
 '04-16-18.xlsx',
 '04-23-18.xlsx',
 '04-28-18.xlsx',
 '05-07-18.xlsx',
 '05-14-18.xlsx',
 '05-21-18.xlsx',
 '05-29-18.xlsx',
 '06-04-18.xlsx',
 '06-11-18.xlsx',
 '06-18-18.xlsx',
 '06-25-18.xlsx',
 '07-09-18.xlsx',
 '07-14-18.xlsx',
 '07-23-18.xlsx',
 '07-30-18.xlsx',
 '08-06-18.xlsx',
 '08-13-18.xlsx',
 '08-20-2018.xlsx',
 '08-27-2018.xlsx',
 '09-04-18.xlsx',
 '09-10-18.xlsx',
 '09-17-18.xlsx',
 '09-24-18.xlsx',
 '10-01-18.xlsx',
 '10-08-18',
 '10-15-18',
 '10-22-18',
 '10-29-18',
 '11-05-18',
 '11-13-18',
 '11-19-18',
 '11-26-18.xlsx',
 '12-03-18.xlsx',
 '12-10-18.xlsx',
 '12-17-18.xlsx',
 '12-18-17.xlsx',
 '12-24-18.xlsx',
 '12-31-18.xlsx',
 '7-2-18.xlsx']

### Append The Lists

In [7]:
allList= flatFileList + filesList2

### Pull The Files

In [5]:
#there are two different formats for how the file URLs are structured; this picks up both
def pullFile(url):
    try:
        cleanLink='https://www.benefits.va.gov'+url
        r = requests.get(cleanLink, allow_redirects=True)
        name=cleanLink.split("/")[-1]
        open(name, 'wb').write(r.content)
        return(name)
    except:
        try: 
            r = requests.get(url, allow_redirects=True)
            name=url.split("/")[-1]
            open(name, 'wb').write(r.content)
        except:
            print(url)

listOfFileNames=list(map(pullFile, allList))

### Read Them Into A Dictionary

In [ ]:
#there are a few different formats for the content we want, identifiable by tab names 
#and whether it errors out for being encrypted
def getEncyptedFiles(fileName):
    fullFileName=os.getcwd()+'\\'+fileName
    #fileName=r"C:\Users\admin\Documents\Python Scripts\veteranLawData\MMWL_01-04-14.xls"
    excel = win32com.client.Dispatch('Excel.Application')
    workbook = excel.Workbooks.open(fullFileName)
    try:
        sheet = workbook.WorkSheets('Traditional Aggregate')
    except:
        sheet = workbook.WorkSheets(r'TA-Regional Office')
    content = sheet.Range(sheet.Cells(9, 2), sheet.Cells(80, 18)).Value 
    # Transfer content to pandas dataframe
    df = pd.DataFrame(list(content))
    df.columns = df.iloc[0]
    workbook.Close(True)
    return(df)

def readBasicFile(fileName):
    try:
        xl=pd.ExcelFile(fileName)
        if len(xl.sheet_names)==1:
            df=pd.read_excel(fileName)
        if 'Final Aggregate' in xl.sheet_names:
            df=pd.read_excel(fileName, sheet_name='Final Aggregate', header=7)
        if 'Traditional Aggregate' in xl.sheet_names:
            df=pd.read_excel(fileName, sheet_name='Traditional Aggregate', header=7)
        #print("worked1")
        return(df)
    except:
        try:
            df=getEncyptedFiles(fileName)
            #print("worked2")
            return(df)
        except:
            print(f"failed on {fileName}")
        
downloadedFiles=[i for i os.listdir() if "xls" in i]
listOfDFs=list(map(readBasicFile, downloadedFiles))

In [ ]:
dictionaryOfFiles = dict(zip(filesNameList, listOfDFs))

### Append Into Master DF

In [81]:


masterDF=pd.DataFrame()
for key in dictionaryOfFiles.keys():
    try:
        df=dictionaryOfFiles[key]
        df['fileName']=key
        listOfPhrasesToFind=["As of", "For the Week"]
        foundPhrase=[i for i in df.columns if any(substring in i for substring in listOfPhrasesToFind)]
        dropPhrase=[i for i in df.columns if "Percent" in i]
        #print(len(foundPhrase))
        #df["forTheWeek"]=df[foundPhrase[0]]
        #df=df.drop([foundPhrase[0]], axis=1)
        #df=df.drop(dropPhrase, axis=1)
        masterDF=masterDF.append(df, sort=True)
        #print(key)
    except:
        print(f'failed on {key}')

### It looks like we're not obviously clipping off the bottoms of any of the tables; we'll need to look further at both extremes

In [82]:
(masterDF['fileName'].value_counts()).value_counts()

Series([], Name: fileName, dtype: int64)

### Right now: it looks like 04-09 is working; after that we need to look at the format of the 09 worksheets to modify it; there's also some column cleaning we may need to do for the 04-09 group; this is a good stopping point

### Are we missing lines? spot checked first and last, looked good, getting weird value counts for the regional variable, but the overall counts don't have too much variation

In [23]:
seriesOfLength=pd.Series()

for file in masterDF['fileName'].unique():
    s= pd.Series([len(masterDF.loc[masterDF['fileName']==file])], index=[file])
    seriesOfLength=seriesOfLength.append(s)

In [24]:
seriesOfLength.value_counts()

71    84
72    83
70    78
68    24
78    15
73    11
dtype: int64

In [25]:
seriesOfLength.loc[seriesOfLength==68]

010504.xls    68
040504.xls    68
012004.xls    68
041204.xls    68
041904.xls    68
012604.xls    68
042604.xls    68
020204.xls    68
050304.xls    68
020904.xls    68
051004.xls    68
021704.xls    68
051704.xls    68
022304.xls    68
052404.xls    68
030104.xls    68
060104.xls    68
030804.xls    68
060704.xls    68
031504.xls    68
061404.xls    68
032204.xls    68
062104.xls    68
032904.xls    68
dtype: int64

### Looking at One With Count 68 : Looks Good

In [27]:
masterDF.loc[masterDF['fileName']=='021704.xls']

,,Rating Cases Pending,Rating Claims Pending,* Scorecard Non-Rating Cases Pending,* Scorecard Non-Rating Claims Pending,C&P Claims over 180 Days,C&P Claims over 180 Days in WIPP,C&P Work Items over 180 Days,COE,COEs Issued,...,Total Appeals Requiring Adjudicative Action,Total Appeals Requiring Adjudicative action,Total C&P Pending,Total C&P Pending in Wipp,Total C&P Work Items Pending,Unnamed: 18,VACOLS Appeals,VACOLS Appeals includes AMC & Travel Board,fileName,forTheWeek
0,NaT,NaN,NaN,NaN,NaN,NaN,102909.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,124637.000000,NaN,478130.000000,NaN,NaN,NaN,145668.000000,021704.xls,USA
1,NaT,NaN,NaN,NaN,NaN,NaN,104386.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,125006.000000,NaN,470643.000000,NaN,NaN,NaN,145132.000000,021704.xls,Last Week
2,NaT,NaN,NaN,NaN,NaN,NaN,-1477.000000,NaN,NaT,00:00:00,...,NaN,-369.000000,NaN,7487.000000,NaN,NaN,NaN,536.000000,021704.xls,Change from Last Week
3,NaT,NaN,NaN,NaN,NaN,NaN,-0.014149,NaN,NaT,NaN,...,NaN,-0.002952,NaN,0.015908,NaN,NaN,NaN,0.003693,021704.xls,Percent Change
4,NaT,NaN,NaN,NaN,NaN,NaN,118461.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,97678.000000,NaN,472859.000000,NaN,NaN,NaN,121596.000000,021704.xls,Last Year
5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,EASTERN AREA
6,NaT,NaN,NaN,NaN,NaN,NaN,1890.000000,NaN,NaT,NaN,...,NaN,1165.000000,NaN,6161.000000,NaN,NaN,NaN,1466.000000,021704.xls,Baltimore Regional Office
7,NaT,NaN,NaN,NaN,NaN,NaN,2757.000000,NaN,NaT,NaN,...,NaN,1568.000000,NaN,7641.000000,NaN,NaN,NaN,1806.000000,021704.xls,Boston Regional Office
8,NaT,NaN,NaN,NaN,NaN,NaN,2147.000000,NaN,NaT,NaN,...,NaN,2040.000000,NaN,6959.000000,NaN,NaN,NaN,2319.000000,021704.xls,Buffalo Regional Office
9,NaT,NaN,NaN,NaN,NaN,NaN,3610.000000,NaN,NaT,NaN,...,NaN,3110.000000,NaN,12994.000000,NaN,NaN,NaN,3960.000000,021704.xls,Cleveland Regional Office
10,NaT,NaN,NaN,NaN,NaN,NaN,3001.000000,NaN,NaT,NaN,...,NaN,2662.000000,NaN,9929.000000,NaN,NaN,NaN,3110.000000,021704.xls,Detroit Regional Office
11,NaT,NaN,NaN,NaN,NaN,NaN,579.000000,NaN,NaT,NaN,...,NaN,857.000000,NaN,2793.000000,NaN,NaN,NaN,1015.000000,021704.xls,Hartford Regional Office
12,NaT,NaN,NaN,NaN,NaN,NaN,1126.000000,NaN,NaT,NaN,...,NaN,2133.000000,NaN,6295.000000,NaN,NaN,NaN,2528.000000,021704.xls,Indianapolis Regional Office
13,NaT,NaN,NaN,NaN,NaN,NaN,528.000000,NaN,NaT,NaN,...,NaN,488.000000,NaN,2012.000000,NaN,NaN,NaN,560.000000,021704.xls,Manchester Regional Office
14,NaT,NaN,NaN,NaN,NaN,NaN,3707.000000,NaN,NaT,NaN,...,NaN,3793.000000,NaN,10339.000000,NaN,NaN,NaN,4157.000000,021704.xls,New York Regional Office
15,NaT,NaN,NaN,NaN,NaN,NaN,1198.000000,NaN,NaT,NaN,...,NaN,2394.000000,NaN,4215.000000,NaN,NaN,NaN,2682.000000,021704.xls,Newark Regional Office
16,NaT,NaN,NaN,NaN,NaN,NaN,4755.000000,NaN,NaT,NaN,...,NaN,2729.000000,NaN,27351.000000,NaN,NaN,NaN,3082.000000,021704.xls,Philadelphia Regional Office
17,NaT,NaN,NaN,NaN,NaN,NaN,1196.000000,NaN,NaT,NaN,...,NaN,1348.000000,NaN,5462.000000,NaN,NaN,NaN,1664.000000,021704.xls,Pittsburgh Regional Office
18,NaT,NaN,NaN,NaN,NaN,NaN,828.000000,NaN,NaT,NaN,...,NaN,943.000000,NaN,2354.000000,NaN,NaN,NaN,1039.000000,021704.xls,Providence Regional Office
19,NaT,NaN,NaN,NaN,NaN,NaN,546.000000,NaN,NaT,NaN,...,NaN,598.000000,NaN,3004.000000,NaN,NaN,NaN,721.000000,021704.xls,Togus VAMROC
20,NaT,NaN,NaN,NaN,NaN,NaN,143.000000,NaN,NaT,NaN,...,NaN,114.000000,NaN,735.000000,NaN,NaN,NaN,152.000000,021704.xls,White River Junction VAMROC
21,NaT,NaN,NaN,NaN,NaN,NaN,674.000000,NaN,NaT,NaN,...,NaN,487.000000,NaN,1632.000000,NaN,NaN,NaN,541.000000,021704.xls,Wilmington VAMROC
22,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,SOUTHERN AREA
23,NaT,NaN,NaN,NaN,NaN,NaN,2937.000000,NaN,NaT,NaN,...,NaN,5096.000000,NaN,13727.000000,NaN,NaN,NaN,5659.000000,021704.xls,Atlanta Regional Office
24,NaT,NaN,NaN,NaN,NaN,NaN,1723.000000,NaN,NaT,NaN,...,NaN,2740.000000,NaN,8904.000000,NaN,NaN,NaN,3479.000000,021704.xls,Columbia Regional Office
25,NaT,NaN,NaN,NaN,NaN,NaN,785.000000,NaN,NaT,NaN,...,NaN,1495.000000,NaN,4170.000000,NaN,NaN,NaN,1789.000000,021704.xls,Huntington Regional Office
26,NaT,NaN,NaN,NaN,NaN,NaN,1008.000000,NaN,NaT,NaN,...,NaN,1939.000000,NaN,5951.000000,NaN,NaN,NaN,2264.000000,021704.xls,Jackson Regional Office
27,NaT,NaN,NaN,NaN,NaN,NaN,3016.000000,NaN,NaT,NaN,...,NaN,2402.000000,NaN,8953.000000,NaN,NaN,NaN,2703.000000,021704.xls,Louisville Regional Office
28,NaT,NaN,NaN,NaN,NaN,NaN,2515.000000,NaN,NaT,1906-11-01 00:00:00,...,NaN,5109.000000,NaN,11582.000000,NaN,NaN,NaN,5543.000000,021704.xls,Montgomery Regional Office
29,NaT,NaN,NaN,NaN,NaN,NaN,1563.000000,NaN,NaT,NaN,...,NaN,3155.000000,NaN,10285.000000,NaN,NaN,NaN,3604.000000,021704.xls,Nashville Regional Office
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,NaT,NaN,NaN,NaN,NaN,NaN,210.000000,NaN,NaT,NaN,...,NaN,313.000000,NaN,1707.000000,NaN,NaN,NaN,462.000000,021704.xls,Fargo VAMROC
39,NaT,NaN,NaN,NaN,NaN,NaN,2579.000000,NaN,NaT,NaN,...,NaN,4233.000000,NaN,16710.000000,NaN,NaN,NaN,4934.000000,021704.xls,Houston Regional Office
40,NaT,NaN,NaN,NaN,NaN,NaN,458.000000,NaN,NaT,NaN,...,NaN,865.000000,NaN,3462.000000,NaN,NaN,NaN,1164.000000,021704.xls,Lincoln Regional Office
41,NaT,NaN,NaN,NaN,NaN,NaN,1672.000000,NaN,NaT,NaN,...,NaN,2412.000000,NaN,7197.000000,NaN,NaN,NaN,2703.000000,021704.xls,Little Rock Regional Office
42,NaT,NaN,NaN,NaN,NaN,NaN,5126.000000,NaN,NaT,NaN,...,NaN,2514.000000,NaN,29070.000000,NaN,NaN,NaN,2811.000000,021704.xls,Milwaukee Regional Office
43,NaT,NaN,NaN,NaN,NaN,NaN,1605.000000,NaN,NaT,NaN,...,NaN,1913.000000,NaN,8554.000000,NaN,NaN,NaN,2466.000000,021704.xls,Muskogee Regional Office
44,NaT,NaN,NaN,NaN,NaN,NaN,2282.000000,NaN,NaT,NaN,...,NaN,2778.000000,NaN,9355.000000,NaN,NaN,NaN,3121.000000,021704.xls,New Orleans Regional Office
45,NaT,NaN,NaN,NaN,NaN,NaN,226.000000,NaN,NaT,NaN,...,NaN,183.000000,NaN,1545.000000,NaN,NaN,NaN,257.000000,021704.xls,Sioux Falls VAMROC
46,NaT,NaN,NaN,NaN,NaN,NaN,1660.000000,NaN,NaT,NaN,...,NaN,3937.000000,NaN,8900.000000,NaN,NaN,NaN,4223.000000,021704.xls,St. Louis Regional Office
47,NaT,NaN,NaN,NaN,NaN,NaN,2460.000000,NaN,NaT,NaN,...,NaN,1533.000000,NaN,18636.000000,NaN,NaN,NaN,2348.000000,021704.xls,St. Paul Regional Office
48,NaT,NaN,NaN,NaN,NaN,NaN,4505.000000,NaN,NaT,NaN,...,NaN,7276.000000,NaN,21981.000000,NaN,NaN,NaN,8696.000000,021704.xls,Waco Regional Office
49,NaT,NaN,NaN,NaN,NaN,NaN,1439.000000,NaN,NaT,NaN,...,NaN,855.000000,NaN,4813.000000,NaN,NaN,NaN,1051.000000,021704.xls,Wichita VAMROC
50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,WESTERN AREA
51,NaT,NaN,NaN,NaN,NaN,NaN,879.000000,NaN,NaT,NaN,...,NaN,1013.000000,NaN,4306.000000,NaN,NaN,NaN,1257.000000,021704.xls,Albuquerque Regional Office
52,NaT,NaN,NaN,NaN,NaN,NaN,333.000000,NaN,NaT,NaN,...,NaN,706.000000,NaN,1531.000000,NaN,NaN,NaN,790.000000,021704.xls,Anchorage VAMROC
53,NaT,NaN,NaN,NaN,NaN,NaN,426.000000,NaN,NaT,NaN,...,NaN,892.000000,NaN,2376.000000,NaN,NaN,NaN,999.000000,021704.xls,Boise Regional Office
54,NaT,NaN,NaN,NaN,NaN,NaN,1018.000000,NaN,NaT,NaN,...,NaN,2292.000000,NaN,6253.000000,NaN,NaN,NaN,2599.000000,021704.xls,Denver Regional Office
55,NaT,NaN,NaN,NaN,NaN,NaN,306.000000,NaN,NaT,NaN,...,NaN,676.000000,NaN,1907.000000,NaN,NaN,NaN,728.000000,021704.xls,Fort Harrison VAMROC
56,NaT,NaN,NaN,NaN,NaN,NaN,1228.000000,NaN,NaT,NaN,...,NaN,628.000000,NaN,3840.000000,NaN,NaN,NaN,767.000000,021704.xls,Honolulu VAMROC
57,NaT,NaN,NaN,NaN,NaN,NaN,3280.000000,NaN,NaT,NaN,...,NaN,4149.000000,NaN,12625.000000,NaN,NaN,NaN,4643.000000,021704.xls,Los Angeles Regional Office
58,NaT,NaN,NaN,NaN,NaN,NaN,553.000000,NaN,NaT,NaN,...,NaN,2072.000000,NaN,4401.000000,NaN,NaN,NaN,2536.000000,021704.xls,Manila Regional Office
59,NaT,NaN,NaN,NaN,NaN,NaN,2856.000000,NaN,NaT,NaN,...,NaN,2434.000000,NaN,13864.000000,NaN,NaN,NaN,3119.000000,021704.xls,Oakland Regional Office
60,NaT,NaN,NaN,NaN,NaN,NaN,1842.000000,NaN,NaT,00:00:00,...,NaN,2025.000000,NaN,9593.000000,NaN,NaN,NaN,2343.000000,021704.xls,Phoenix Regional Office
61,NaT,NaN,NaN,NaN,NaN,NaN,2046.000000,NaN,NaT,NaN,...,NaN,3318.000000,NaN,7397.000000,NaN,NaN,NaN,3573.000000,021704.xls,Portland Regional Office
62,NaT,NaN,NaN,NaN,NaN,NaN,1211.000000,NaN,NaT,NaN,...,NaN,1232.000000,NaN,4437.000000,NaN,NaN,NaN,1410.000000,021704.xls,Reno Regional Office
63,NaT,NaN,NaN,NaN,NaN,NaN,108.000000,NaN,NaT,NaN,...,NaN,245.000000,NaN,1440.000000,NaN,NaN,NaN,361.000000,021704.xls,Salt Lake City Regional Office
64,NaT,NaN,NaN,NaN,NaN,NaN,1531.000000,NaN,NaT,NaN,...,NaN,2054.000000,NaN,8151.000000,NaN,NaN,NaN,2345.000000,021704.xls,San Diego Regional Office
65,NaT,NaN,NaN,NaN,NaN,NaN,3201.000000,NaN,NaT,NaN,...,NaN,2393.000000,NaN,12343.000000,NaN,NaN,NaN,2906.000000,021704.xls,Seattle Regional Office
66,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,021704.xls,NaN
67,NaT,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaT,NaN,...,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN,021704.xls,BVA/VBA Support Unit

### We're getting "XLRDError: Workbook is encrypted" for many later workbooks, we need a different package

In [75]:
dataframe

,None,Avg. Days Pending,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending,# Pending
0,None,Avg. Days Pending,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending over 125 days,Percent Pending > 125 days,# Pending,# Pending,# Pending
1,USAC,323.4,636274,388178,0.61008,406934,289271,0.710855,74142,59177,0.798158,171948,90400,0.52574,30507,1971,264066
2,Eastern Area,330.3,125918,78337,0.622127,68475,48656,0.710566,14863,12479,0.839602,71077,20879,0.293752,25109,384,46396
3,Baltimore,493.9,9518,7042,0.739861,6587,5782,0.87779,1166,1050,0.900515,51016,6641,0.130175,1,3,3459
4,Boston,343.5,6585,4038,0.613212,6162,4541,0.736936,1868,1476,0.79015,1164,904,0.776632,1,2,4377
5,Buffalo,227.2,7883,4832,0.612965,4464,2951,0.661066,357,314,0.879552,497,295,0.593561,2,5,1571
6,Cleveland,341.6,19187,12776,0.665868,11352,8923,0.786029,2114,2056,0.972564,3637,2290,0.62964,5,164,10062
7,Detroit,136,14725,9038,0.613786,5096,2289,0.449176,1133,948,0.836717,2779,2021,0.72724,3,75,5989
8,Hartford,160.9,3480,2047,0.588218,2039,1083,0.531143,314,197,0.627389,1259,1143,0.907863,1,0,860
9,Indianapolis,394.3,11051,6750,0.610804,7241,5762,0.795746,1228,934,0.760586,1498,955,0.637517,2,123,5405
10,Manchester,273.4,1527,746,0.48854,1277,973,0.761942,99,92,0.929293,151,94,0.622517,3,2,691
11,New York,199.2,10050,6204,0.617313,4753,2652,0.557963,983,619,0.629705,908,506,0.557269,5,6,3958
12,Newark,151,4246,2551,0.600801,1573,829,0.527018,503,483,0.960239,372,263,0.706989,0,0,2120
13,Philadelphia,376.1,21685,13164,0.607056,8289,6475,0.781156,2864,2600,0.907821,4246,3284,0.773434,25081,0,2810
14,Pittsburgh,383.3,7439,4674,0.62831,5203,3981,0.765135,759,727,0.957839,1638,1153,0.703907,1,3,3155
15,Providence,118.3,3722,1725,0.463461,1301,518,0.398155,274,188,0.686131,246,95,0.386179,1,1,818
16,Togus,252.7,2382,1217,0.510915,1852,1004,0.542117,1129,734,0.650133,1159,915,0.789474,2,0,382
17,White River Junction,319.1,824,515,0.625,608,408,0.671053,57,50,0.877193,139,104,0.748201,1,0,211
18,Wilmington,303.2,1614,1018,0.630731,678,485,0.715339,15,11,0.733333,368,216,0.586957,0,0,528
19,SOUTHERN AREA,313.2,215754,136904,0.634537,141234,104753,0.741698,22754,18503,0.813176,43613,29995,0.687754,227,638,98484
20,Atlanta,316.9,31836,20566,0.645998,17041,12525,0.734992,1381,1186,0.858798,5510,3677,0.667332,90,8,14641
21,Columbia,211.4,19146,12099,0.631934,9944,6639,0.667639,915,710,0.775956,2054,1268,0.617332,5,27,7508
22,Huntington,210.1,5697,3733,0.655257,2544,1536,0.603774,337,207,0.614243,967,689,0.712513,5,5,3300
23,Jackson,285.7,9936,6843,0.688708,4532,3492,0.770521,1254,1142,0.910686,2089,1296,0.620393,38,68,3906
24,Louisville,390.9,10075,6701,0.665112,9021,7309,0.810221,1678,1358,0.809297,2290,2114,0.923144,50,111,4419
25,Montgomery,316.4,15313,10015,0.654019,9890,7261,0.734176,5066,3944,0.778523,2539,1696,0.66798,9,154,11026
26,Nashville,183.6,15934,9119,0.572298,7990,4667,0.584105,1152,638,0.553819,3185,2305,0.723705,2,117,5870
27,Roanoke,350.2,21343,12883,0.603617,13366,10166,0.760587,1821,1527,0.83855,12980,11139,0.858166,11,19,8431
28,San Juan,284.2,5864,3953,0.674113,3581,2687,0.750349,533,402,0.754221,1513,1356,0.896233,5,1,5202
29,St. Petersburg,311.8,41020,26598,0.648415,22807,16091,0.705529,2841,2036,0.716649,4389,1869,0.425837,11,118,23319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,Little Rock,306.7,7187,4101,0.570614,6463,4688,0.72536,1731,1347,0.778163,1514,1056,0.69749,6,115,5169
43,Milwaukee,195.2,10092,5156,0.5109,4256,2435,0.572133,206,95,0.461165,389,180,0.462725,4751,0,2878
44,Muskogee,188,12274,6878,0.560372,7513,4066,0.541195,1527,865,0.56647,2689,1932,0.718483,6,7,3378
45,New Orleans,327.3,10035,6089,0.606776,7582,5494,0.724611,289,248,0.858131,2262,1817,0.803271,20,206,4993
46,Sioux Falls,67.5,1328,678,0.510542,887,66,0.0744081,821,511,0.622412,174,142,0.816092,3,1,203
47,St. Louis,187.6,13802,8439,0.611433,5849,3289,0.562318,1628,1325,0.813882,2941,1703,0.579055,7,215,5985
48,St. Paul,111.3,13935,5785,0.415142,2109,723,0.342817,1156,717,0.620242,679,339,0.499264,46,0,1458
49,Waco,237.4,25342,13295,0.524623,14101,8486,0.601801,2058,1394,0.677357,5050,2922,0.578614,16,25,14223
50,Wichita,160.8,4628,2606,0.563094,2347,1100,0.468683,77,31,0.402597,378,313,0.828042,1,4,1248
51,WESTERN AREA,376.2,146882,88895,0.605214,120689,88428,0.732693,23732,19702,0.830187,30813,21878,0.710025,295,192,45896
52,Albuquerque,290.7,5111,3209,0.627861,3328,2386,0.716947,242,143,0.590909,986,792,0.803245,0,3,1908
53,Anchorage,420.1,1672,937,0.560407,2900,2328,0.802759,1154,1031,0.893414,379,310,0.817942,0,2,165
54,Boise,255.1,2891,1812,0.626773,1610,1167,0.724845,412,223,0.541262,562,326,0.580071,1,0,1020
55,Cheyenne,279.5,1369,828,0.604821,623,385,0.617978,58,49,0.844828,209,149,0.712919,48,3,267
56,Denver,354,10278,6095,0.593014,9277,7315,0.788509,2935,2172,0.740034,2169,1498,0.690641,1,6,4028
57,Ft. Harrison,247.1,1750,1047,0.598286,2070,1421,0.686473,463,251,0.542117,138,84,0.608696,0,4,210
58,Honolulu,142.1,4655,2767,0.594415,1908,896,0.469602,377,314,0.832891,854,713,0.834895,2,1,920
59,Los Angeles,304,15979,10194,0.637962,9400,7005,0.745213,1688,1477,0.875,2533,1645,0.649428,3,9,5661
60,Manila,102.3,1396,440,0.315186,1031,195,0.189137,313,78,0.249201,599,222,0.370618,187,71,1148
61,Oakland,488.4,19978,11877,0.594504,14108,11131,0.788985,1632,1335,0.818015,6567,5503,0.837978,6,9,8335
62,Phoenix,282.6,13397,8494,0.634023,8850,6083,0.687345,869,708,0.81473,3034,1987,0.654911,2,16,5985
63,Portland,341.8,10771,6650,0.617399,9163,6727,0.734148,3216,2474,0.769279,2115,1311,0.619858,2,33,5594
64,Reno,540,6417,4344,0.676952,3859,2998,0.776885,318,224,0.704403,796,590,0.741206,2,9,1114
65,Salt Lake City,433.7,14275,8387,0.587531,19171,16716,0.871942,3602,3499,0.971405,1638,1302,0.794872,0,0,898
66,San Diego,297,19147,10978,0.573354,8290,5669,0.683836,2059,1704,0.827586,2030,1491,0.734483,1,4,3964
67,Seattle,394.9,17796,10836,0.608901,25101,16006,0.637664,4394,4020,0.914884,6204,3955,0.637492,40,22,4679
68,Other,351.8,0,0,N/A,30,7,0.233333,0,0,N/A,197,81,0.411168,2,4,7870
69,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
70,None,None,PENSION INVENTORY,None,None,None,None,None,None,None,None,None,None,None,None,None,None
71,None,Non-Rating,Entitlement,None,None,Award Adjustment,None,None,Program Review,None,None,Other,None,None,Burial,Accrued,Appeals

### This is working fine, the question is, can we actually hardcode 7 or do we need to make this more flexible?

In [38]:
dictionaryOfFiles['NewMMWL_100509.xls']

,Claims Pending,Pending over 125 days,Percent Pending over 125 days,Pending,Pending over 125 days.1,Percent Pending over 125 days.1,Pending,Pending over 125 days.2,Percent Pending over 125 days.2,Pending.1,Pending over 125 days.3,Percent Pending over 125 days.3,Claims Pending.1,Claims Pending.2,Pending.1,fileName
USA,388774,142652,0.366929,148042,47131,0.318362,22129,9108,0.411587,27635,15176,0.549159,3799,457,174891,NewMMWL_100509.xls
EASTERN AREA,82276,33396,0.405902,27441,7754,0.28257,5627,2891,0.513773,5015,2993,0.59681,771,106,31196,NewMMWL_100509.xls
Baltimore,8567,4320,0.504261,3202,1917,0.598688,1933,1232,0.637351,459,297,0.647059,28,15,2106,NewMMWL_100509.xls
Boston,4253,1213,0.28521,889,178,0.200225,378,125,0.330688,305,204,0.668852,71,5,2142,NewMMWL_100509.xls
Buffalo,5096,2290,0.449372,1751,349,0.199315,278,101,0.363309,249,92,0.369478,151,4,776,NewMMWL_100509.xls
Cleveland,10121,4018,0.396996,2603,290,0.11141,519,81,0.156069,480,290,0.604167,7,0,6107,NewMMWL_100509.xls
Detroit,11577,5650,0.488037,2891,581,0.200969,418,200,0.478469,951,731,0.768665,19,1,3884,NewMMWL_100509.xls
Hartford,1525,384,0.251803,979,62,0.0633299,117,65,0.555556,72,33,0.458333,7,5,1068,NewMMWL_100509.xls
Indianapolis,10309,4752,0.460956,4232,1719,0.406191,524,348,0.664122,604,227,0.375828,41,15,2842,NewMMWL_100509.xls
Manchester,1272,417,0.32783,426,51,0.119718,2,0,0,104,36,0.346154,59,0,667,NewMMWL_100509.xls
New York,7236,3321,0.458955,2814,983,0.349325,409,326,0.797066,424,310,0.731132,23,4,2491,NewMMWL_100509.xls
Newark,3286,1105,0.336275,642,150,0.233645,84,41,0.488095,200,112,0.56,14,9,1640,NewMMWL_100509.xls
Philadelphia,9880,2637,0.266903,2899,249,0.0858917,563,288,0.511545,677,404,0.59675,83,-,2815,NewMMWL_100509.xls
Pittsburgh,4653,2146,0.461208,2415,1135,0.469979,175,36,0.205714,230,156,0.678261,122,43,2204,NewMMWL_100509.xls
Providence,1514,360,0.237781,564,23,0.0407801,83,20,0.240964,120,47,0.391667,106,1,1082,NewMMWL_100509.xls
Togus,1751,409,0.233581,718,35,0.0487465,141,27,0.191489,78,44,0.564103,21,1,607,NewMMWL_100509.xls
White River J.,728,276,0.379121,144,13,0.0902778,1,0,0,27,2,0.0740741,19,1,369,NewMMWL_100509.xls
Wilmington,508,98,0.192913,272,19,0.0698529,2,1,0.5,35,8,0.228571,0,2,396,NewMMWL_100509.xls
SOUTHERN AREA,124026,46841,0.377671,40687,9411,0.231302,7218,2972,0.411748,12194,6928,0.568148,1950,152,48172,NewMMWL_100509.xls
Atlanta,18263,7747,0.424191,5686,2013,0.354027,1125,304,0.270222,1824,1537,0.842654,4,1,6163,NewMMWL_100509.xls
Columbia,8818,2869,0.325357,2199,284,0.12915,298,118,0.395973,1114,491,0.440754,435,42,3203,NewMMWL_100509.xls
Huntington,2045,355,0.173594,798,123,0.154135,109,72,0.66055,264,213,0.806818,17,2,2145,NewMMWL_100509.xls
Jackson,5815,2886,0.496303,1545,273,0.176699,679,588,0.865979,535,246,0.459813,107,12,2486,NewMMWL_100509.xls
Louisville,4786,1355,0.283117,1879,257,0.136775,432,94,0.217593,347,249,0.717579,75,18,1602,NewMMWL_100509.xls
Montgomery,11317,5706,0.504197,5510,2920,0.529946,1066,798,0.748593,1719,953,0.554392,3,0,7677,NewMMWL_100509.xls
Nashville,7192,1604,0.223026,2285,63,0.0275711,175,11,0.0628571,361,198,0.548476,28,5,3794,NewMMWL_100509.xls
Roanoke,12982,4715,0.363195,3087,195,0.0631681,1389,78,0.0561555,725,517,0.713103,7,4,4335,NewMMWL_100509.xls
San Juan,3469,1346,0.388008,1567,121,0.0772176,156,48,0.307692,312,211,0.676282,21,0,3349,NewMMWL_100509.xls
St. Petersburg,27221,10951,0.4023,7941,2036,0.256391,1155,787,0.681385,4572,2086,0.456255,1137,54,7513,NewMMWL_100509.xls
Washington,18,7,0.388889,13,9,0.692308,220,36,0.163636,8,6,0.75,39,0,7,NewMMWL_100509.xls
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
St. Paul,7971,1330,0.166855,907,59,0.0650496,187,74,0.395722,337,133,0.394659,6,0,1469,NewMMWL_100509.xls
Waco,18516,6674,0.360445,3685,276,0.0748982,730,135,0.184932,756,356,0.470899,17,13,7268,NewMMWL_100509.xls
Wichita,2705,786,0.290573,906,142,0.156733,22,10,0.454545,92,55,0.597826,38,4,1048,NewMMWL_100509.xls
WESTERN AREA,83120,30151,0.362741,53468,25924,0.484851,6143,2313,0.376526,4705,2325,0.494155,802,151,31557,NewMMWL_100509.xls
Albuquerque,2889,944,0.326757,571,49,0.0858144,82,9,0.109756,187,102,0.545455,63,0,1867,NewMMWL_100509.xls
Anchorage,1385,612,0.441877,763,295,0.386632,262,104,0.396947,78,62,0.794872,17,4,189,NewMMWL_100509.xls
Boise,1252,204,0.162939,441,48,0.108844,87,15,0.172414,74,16,0.216216,21,0,531,NewMMWL_100509.xls
Denver,6506,2088,0.320935,2430,517,0.212757,975,136,0.139487,235,100,0.425532,24,14,3625,NewMMWL_100509.xls
Fort Harrison,1643,420,0.25563,831,15,0.0180505,28,1,0.0357143,141,23,0.163121,22,3,253,NewMMWL_100509.xls
Honolulu,2555,947,0.370646,517,82,0.158607,211,29,0.137441,171,127,0.74269,0,0,741,NewMMWL_100509.xls
Los Angeles,7944,2737,0.344537,2714,453,0.166912,63,43,0.68254,655,400,0.610687,14,0,4731,NewMMWL_100509.xls
Manila,1343,360,0.268057,22888,19440,0.849353,15,13,0.866667,363,145,0.399449,250,50,914,NewMMWL_100509.xls
Oakland,15045,7325,0.486873,5503,1767,0.321098,1260,756,0.6,563,419,0.744227,39,23,3971,NewMMWL_100509.xls
Phoenix,7998,2686,0.335834,2432,123,0.0505757,212,35,0.165094,511,168,0.328767,30,5,2756,NewMMWL_100509.xls
Portland,6030,2356,0.390713,3318,1314,0.396022,398,139,0.349246,355,242,0.68169,59,44,3786,NewMMWL_100509.xls
Reno,4185,1690,0.403823,761,96,0.12615,111,18,0.162162,170,61,0.358824,1,1,984,NewMMWL_100509.xls
Salt Lake City,5124,1458,0.284543,2145,319,0.148718,93,2,0.0215054,484,120,0.247934,0,1,1168,NewMMWL_100509.xls
San Diego,9797,3081,0.314484,2362,53,0.0224386,724,51,0.070442,357,156,0.436975,12,0,2641,NewMMWL_100509.xls
Seattle,9424,3243,0.344121,5792,1353,0.233598,1622,962,0.593095,361,184,0.509695,250,6,3400,NewMMWL_100509.xls
Other,1,0,0,11,3,0.272727,32,31,0.96875,64,52,0.8125,5,1,21236,NewMMWL_100509.xls
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NewMMWL_100509.xls
NaN,PENSION INVENTORY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NewMMWL_100509.xls
NaN,Entitlement,NaN,NaN,Award Adjustment,NaN,NaN,Program Review,NaN,NaN,Other,NaN,NaN,Burial,Accrued,Appeals,NewMMWL_100509.xls
NaN,Claims Pending,Pending over 125 days,Percent Pending over 125 days,Pending,Pending over 125 days,Percent Pending over 125 days,Pending,Pending over 125 days,Percent Pending over 125 days,Pending,Pending over 125 days,Percent Pending over 125 days,Claims Pending,Claims Pending,Pending,NewMMWL_100509.xls
NaN,"120, 180, 190",NaN,NaN,"050, 135 (adjusted), 137, 150, 155, 297 (PMC o...",NaN,NaN,"154, 696 (PMCs Only), 697(PMC Only)",NaN,NaN,"407 (PMCs Only), 507, 937 (PMCs only)",NaN,NaN,160 group (PMC),165(PMC),VACOLS +BVA,NewMMWL_100509.xls
USA (PMC's),55546,15637,0.281514,70158,30910,0.440577,25815,9044,0.350339,4577,1338,0.292331,17205,1880,758,NewMMWL_100509.xls
Philadelphia,25270,8438,0.333914,36301,17759,0.489215,11320,3337,0.294788,1312,629,0.479421,8041,1052,212,NewMMWL_100509.xls
Milwaukee,13428,2925,0.217828,17163,6732,0.392239,5433,2180,0.401252,353,183,0.518414,4899,349,264,NewMMWL_100509.xls
St. Paul,16615,4189,0.252122,16173,6051,0.374142,9020,3496,0.387583,2871,503,0.1752,4222,479,282,NewMMWL_100509.xls
Other (in transit),233,85,0.364807,521,368,0.706334,42,31,0.738095,41,23,0.560976,43,NaN,NaN,NewMMWL_100509.xls

In [78]:
os.getcwd()

'C:\\Users\\admin\\Documents\\Python Scripts\\veteranLawData'